{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>strongTNC - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="HSR University of Applied Sciences Rapperswil">

    <!-- styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="{{ STATIC_URL }}css/bootstrap-theme.min.css" rel="stylesheet" media="screen"/>
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet"/>

    <!-- script librarys -->
    <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/select2.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.4.custom.min.js"></script>

    <script src="{{ STATIC_URL }}js/hashquery.js"></script>
    <script src="{{ STATIC_URL }}js/paging.js"></script>

    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}js/ie8.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="logo-swanicon"></i> strongTNC</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="glyphicon glyphicon-bar"></span>
            <span class="glyphicon glyphicon-bar"></span>
            <span class="glyphicon glyphicon-bar"></span>
        </button>

        <div class="navbar-collapse collapse">
            <div class="navbar-text pull-left">
                {{ VERSION }}
            </div>
            <div class="pull-right">
                <ul class="nav navbar-nav pull-right">
                    <li class="navbar-text" id="global-loader">Loading...
                        <img src="{{ STATIC_URL }}img/ajax-loader-black-bg.gif" width="20px">
                    </li>

                    <form class="navbar-form navbar-left" role="search" action="{% url 'front:search' %}" method="get">
                        <input type="text" class="search-query" name="q" placeholder="Search">
                    </form>
                    <li><a href="#logoutModal" data-toggle="modal" id="logout"
                           title="{% trans 'Logout' %}"><i class="glyphicon glyphicon-off"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">

            <nav class="well sidebar-nav">
                <ul class="nav nav-list">

                    <li><a href="/"><i class="glyphicon glyphicon-eye-open"></i> {% trans 'Overview' %}</a></li>

                    <li class="nav-header">{% trans 'Configuration' %}</li>

                    <li><a href="{% url 'devices:group_list' %}"><i class="glyphicon glyphicon-user"></i> {% trans 'Groups' %} </a></li>
                    <li><a href="{% url 'policies:policy_list' %}"><i class="glyphicon glyphicon-book"></i> {% trans 'Policies' %}</a></li>
                    <li><a href="{% url 'policies:enforcement_list' %}"><i class="glyphicon glyphicon-list-alt"></i> {% trans 'Enforcements' %}</a></li>
                    <li><a href="{% url 'devices:device_list' %}"><i class="glyphicon glyphicon-phone"></i> {% trans 'Devices' %}</a></li>

                    <li class="nav-header">{% trans 'Data Views' %}</li>

                    <li><a href="{% url 'packages:package_list' %}"><i class="glyphicon glyphicon-gift"></i> {% trans 'Packages' %}</a></li>
                    <li><a href="{% url 'devices:product_list' %}"><i class="glyphicon glyphicon-briefcase"></i> {% trans 'Products' %}</a></li>
                    <li><a href="{% url 'filesystem:directory_list' %}"><i class="glyphicon glyphicon-folder-open"></i> {% trans 'Directories' %}</a></li>
                    <li><a href="{% url 'filesystem:file_list' %}"><i class="glyphicon glyphicon-file"></i> {% trans 'Files' %}</a></li>
                    <li><a href="{% url 'swid:regid_list' %}"><i class="glyphicon glyphicon-barcode"></i> {% trans 'Regids' %}</a></li>
                    <li><a href="{% url 'swid:tag_list' %}"><i class="glyphicon glyphicon-tag"></i> {% trans 'SWID tags' %}</a></li>
                    <li><a href="{% url 'front:vulnerabilities' %}"><i class="glyphicon glyphicon-warning-sign"></i> {% trans 'Vulnerabilities' %}</a></li>
                    <li><a href="{% url 'front:statistics' %}"><i class="glyphicon glyphicon-tasks"></i> {% trans 'Statistics' %}</a></li>
                    <li><a href="api"><i class="glyphicon glyphicon-modal-window"></i> {% trans 'REST API' %}</a></li>
                    <li><a href="admin"><i class="glyphicon glyphicon-cog"></i> {% trans 'Admin' %}</a></li>
                </ul>
            </nav>
            <!--/.well -->

        </div>
        <!--/span-->
        <div class="col-md-10">

            <div class="jumbotron" id="hero">
                {% block hero %}{% endblock %}
            </div>

            <noscript>
                <div id="noscript" class="alert alert-danger fade in">
                    {% blocktrans %}This site relies heavily on JavaScript. It seems you have JavaScript
                        disabled in your browser, you may experience difficulties while using this site.
                    {% endblocktrans %}
                </div>
            </noscript>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} fade in">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}

        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; 2013&ndash;{% now "Y" %} <a href="https://www.hsr.ch/">HSR University of Applied Sciences
            Rapperswil</a> &amp; <a href="https://github.com/strongswan/strongTNC/blob/master/CONTRIBUTORS.md">contributors</a>.
        </p>
    </footer>

    <div id="logoutModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="logoutModalLabel">Are you sure to logout?</h3>
                </div>
                <div class="modal-body">
                    <h4>You're about to sign out from the system.</h4>

                    <p>Are you sure to logout from strongTNC?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a class="btn btn-danger" href="{% url 'authentication:logout' %}"><i class="glyphicon glyphicon-off"></i> Logout</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript">

    $(document).ready(function() {
        $('.slct2-dropdown').select2({
            'width': 'element',
            'minimumResultsForSearch': 15
        });

        // copy title and rel attribute from original form-element
        // to the select2 substitute to support bootstrap tooltips
        $('.select2-container').each(function() {
            var $this = $(this);
            var originId = $this.attr('id').split('_')[1];
            var $originElement = $('#' + originId);
            var originTitle = $originElement.attr('title');
            var originRel = $originElement.attr('rel');
            $this.attr('title', originTitle);
            $this.attr('rel', originRel);
        });

        $("[rel='tooltip']").tooltip({
            'placement': 'right',
            'container': 'body'
        });

        $("#logout").tooltip({
            'placement': 'bottom'
        });

        $.tablesorter.addParser({
            id: 'strongTNCDate',
            is: function(s, table, cell) {
                // return false so this parser is not auto detected
                return false;
            },
            format: function(s, table, cell, cellIndex) {
                return Date.parse(s);
            },
            type: 'numeric'
        });

        $('.sortable').tablesorter({
            sortList: [
                [0, 0]
            ]
        });

        // add global validation methods.
        // http://jqueryvalidation.org
        // validation rules can be found in `[app]/static/js`
        $.validator.addMethod("regex",
                function(value, element, regexp) {
                    var re = new RegExp(regexp);
                    return this.optional(element) || re.test(value);
                }, "Please check your input."
        );

        $.validator.addMethod("directory",
                function(value, element) {
                    var re = new RegExp(/^\/.*/);
                    return this.optional(element) || re.test(value);
                }, "Not a valid absolute path."
        );

        // checkbox in the save-delete modal
        $('#sure').click(function() {
            var $this = $(this);
            var $deleteButton = $('#deleteButton');
            if($this.is(':checked')) {
                $deleteButton.attr('disabled', false);
                $deleteButton.on('click', function() {
                    deleteform.submit();
                });
            } else {
                $deleteButton.attr('disabled', true);
                $deleteButton.off('click');
            }
        });

    });

</script>
{% block footer_js %}
    <script src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
    <script src="{{ STATIC_URL }}js/ajax-loader.js"></script>
    <script src="{{ STATIC_URL }}js/common.js"></script>
{% endblock %}
</body>
</html>
