{% load i18n %}
{% load dajaxice_templatetags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>strongTNC - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="HSR University of Applied Sciences Rapperswil">

    <!-- styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet"/>

    <!-- script librarys -->
    <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/select2.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/spin.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.spin.js"></script>

    <script src="{{ STATIC_URL }}js/hashquery.js"></script>
    <script src="{{ STATIC_URL }}js/paging.js"></script>

    {% dajaxice_js_import %}

    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}js/ie8.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#"><i class="logo-swanicon"></i> strongTNC</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="nav-collapse collapse">
                <div class="pull-right">
                    <ul class="nav pull-right">
                        <form class="navbar-search" action="{% url 'front:search' %}" method="get">
                            <input type="text" class="search-query" name="q" placeholder="Search">
                        </form>
                        <li><a href="#logoutModal" data-toggle="modal" id="logout" rel="tooltip"
                               title="{% trans 'Logout' %}"><i class="icon-off icon-white"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">

            <div class="well sidebar-nav">
                <ul class="nav nav-list">

                    <li><a href="/"><i class="icon-eye-open"></i> {% trans 'Overview' %}</a></li>

                    <li class="nav-header">{% trans 'Configuration' %}</li>

                    <li><a href="{% url 'devices:group_list' %}"><i class="icon-user"></i> {% trans 'Groups' %} </a></li>
                    <li><a href="{% url 'policies:policy_list' %}"><i class="icon-warning-sign"></i> {% trans 'Policies' %}</a></li>
                    <li><a href="{% url 'policies:enforcement_list' %}"><i class="icon-list-alt"></i> {% trans 'Enforcements' %}</a></li>
                    <li><a href="{% url 'devices:device_list' %}"><i class="icon-phone"></i> {% trans 'Devices' %}</a></li>

                    <li class="nav-header">{% trans 'Data Views' %}</li>

                    <li><a href="{% url 'packages:package_list' %}"><i class="icon-gift"></i> {% trans 'Packages' %}</a></li>
                    <li><a href="{% url 'devices:product_list' %}"><i class="icon-briefcase"></i> {% trans 'Products' %}</a></li>
                    <li><a href="{% url 'filesystem:directory_list' %}"><i class="icon-folder-open"></i> {% trans 'Directories' %}</a></li>
                    <li><a href="{% url 'filesystem:file_list' %}"><i class="icon-file"></i> {% trans 'Files' %}</a></li>
                    <li><a href="{% url 'swid:regid_list' %}"><i class="icon-barcode"></i> {% trans 'Regids' %}</a></li>
                    <li><a href="{% url 'swid:tag_list' %}"><i class="icon-tag"></i> {% trans 'SWID tags' %}</a></li>
                    <li><a href="{% url 'front:statistics' %}"><i class="icon-tasks"></i> {% trans 'Statistics' %}</a></li>
                </ul>
            </div>
            <!--/.well -->

        </div>
        <!--/span-->
        <div class="span10">

            <div class="hero-unit" id="hero">
                {% block hero %}{% endblock %}
            </div>

            <noscript>
                <div id="noscript" class="alert alert-error fade in">
                    {% blocktrans %}This site relies heavily on JavaScript. It seems you have JavaScript
                        disabled in your browser, you may experience difficulties while using this site.
                    {% endblocktrans %}
                </div>
            </noscript>

            <div class="row-fluid">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} fade in">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>

        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; 2013&ndash;{% now "Y" %} <a href="https://www.hsr.ch/">HSR University of Applied Sciences
            Rapperswil</a> &amp; <a href="https://github.com/strongswan/strongTNC/blob/master/CONTRIBUTORS.md">contributors</a>.
        </p>
    </footer>

    <div id="logoutModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="logoutModalLabel">Are you sure to logout?</h3>
        </div>
        <div class="modal-body">
            <h4>You're about to sign out from the system.</h4>

            <p>Are you sure to logout from strongTNC?</p>
        </div>
        <div class="modal-footer">
            <a class="btn" data-dismiss="modal">Cancel</a>
            <a class="btn btn-danger" href="{% url 'auth:logout' %}"><i class="icon-off icon-white"></i> Logout</a>
        </div>
    </div>

</div>
<!-- javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript">

    $(document).ready(function () {
        // global variable used in validate_rules.js
        csrftoken = '{{ csrf_token }}';

        $('.slct2-dropdown').select2({
            'width': 'element',
            'minimumResultsForSearch': 15
        });

        // copy title and rel attribute from original form-element
        // to the select2 substitute to support bootstrap tooltips
        $('.select2-container').each(function () {
            var $this = $(this);
            var originId = $this.attr('id').split('_')[1];
            var $originElement = $('#' + originId);
            var originTitle = $originElement.attr('title');
            var originRel = $originElement.attr('rel');
            $this.attr('title', originTitle);
            $this.attr('rel', originRel);
        });

        $("[rel='tooltip']").tooltip({
            'placement': 'right'
        });

        $("#logout").tooltip({
            'selector': '',
            'placement': 'bottom'
        });

        $.tablesorter.addParser({
            id: 'strongTNCDate',
            is: function (s, table, cell) {
                // return false so this parser is not auto detected
                return false;
            },
            format: function (s, table, cell, cellIndex) {
                return Date.parse(s);
            },
            type: 'numeric'
        });

        $('.sortable').tablesorter({
            sortList: [
                [0, 0]
            ]
        });
    });

</script>
{% block footer_js %}
<script src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
<script src="{{ STATIC_URL }}js/validate_rules.js"></script>
<script src="{{ STATIC_URL }}js/ajax-utils.js"></script>
<script src="{{ STATIC_URL }}js/common.js"></script>
{% endblock %}
</body>
</html>
