<div class="row">
    <div class="ajax-paged col-md-12"
         data-config="{{ config_name }}"
         data-args="{{ producer_args }}"
         data-initial="{{ initial_load }}"
         data-urlparams="{{ use_url_params }}"
        {% if with_filter %}
         data-filter="true"
        {% endif %}
        >

        {% if with_filter %}
            <div class="input-group">
                <input type="text" class="filter-input form-control" placeholder="Filter"/>
                <span class="input-group-btn">
                    <button class="filter-clear-button btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
                    <button class="filter-button btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
            <br/>
        {% endif %}

        <div class="paging-buttons hidden">
            <button class="paging-prev btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <span class="paging-current">1</span>/<span class="paging-page-count">0</span>
            <button class="paging-next btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>

        <div class="paged-content"></div>

        <div class="paging-buttons hidden">
            <button class="paging-prev btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <span class="paging-current">1</span>/<span class="paging-page-count">0</span>
            <button class="paging-next btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </div>
</div>
