~*

# vim swap-files:
*.swp

# MacOSX temp-files
*.DS_Store

# Python byte code
*.pyc

# Databases
*.db
*.db-journal

#PyCharm IDE/Intellij
.idea/*
*.iml

# Other files
*.log
*.orig
.cache
.coverage
*.bak
