{% extends "front/base.html" %}

{% load i18n %}
{% load permissions %}
{% load paged_block %}

{% block title %}{{ title }}{% endblock %}

{% block hero %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="line">
                <h4>{% trans "Device" %}
                    {% if 'auth.write_access' in perms %}
                        <div class="pull-right">
                            <a class="btn btn-primary btn-xs" href="{% url 'devices:device_add' %}"
                               rel="tooltip" title="add new">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </a>
                        </div>
                    {% endif %}
                </h4>
                <hr>
                {% paged_block config_name="device_list_config" with_filter=True %}
            </div>
            <div class="col-md-9" id="content">
                {% if device %}
                    <h4>Device Info</h4>
                    <form class="form-horizontal" method="POST" action="{% url 'devices:device_save' %}" id="deviceform">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="value">{% trans "ID" %}</label>

                            <div class="col-sm-4">
                                <input type="hidden" id="deviceId" name="deviceId" value="{{ device.id }}"/>
                                <input type="text" id="value" name="value" placeholder="{% trans 'ID' %}" rel="tooltip"
                                       title="{% trans 'Device ID' %}" class="form-control"
                                       value="{{ device.value }}" {% input_editability %}>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="description">{% trans "Description" %}</label>

                            <div class="col-sm-4">
                                <input type="text" id="description" name="description"
                                       placeholder="{% trans 'Description' %}" rel="tooltip"
                                       title="{% trans 'Device description' %}" class="form-control"
                                       value="{{ device.description }}" {% input_editability %}>
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="control-label col-sm-2" for="product">{% trans "Product" %}</label>

                            <div class="col-sm-4">
                                <select id="product" class="slct2-dropdown" name="product"
                                        rel="tooltip" title="{% trans 'Device product (operating system)' %}"
                                    {% input_editability %}>
                                    <option value="">{% trans "Choose product" %}</option>
                                    {% for p in products %}
                                        <option value="{{ p.id }}"
                                            {% if p.id == device.product.id %}
                                                selected="selected"
                                            {% endif %}
                                            >{{ p }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="trusted">
                            <label class="control-label col-sm-2" for="device-trusted">{% trans "Trusted" %}</label>

                            <div class="col-sm-4" id="trusted">
                                <input type="checkbox" id="device-trusted"
                                       name="device-trusted" {{ device.trusted|yesno:"checked," }} />
                            </div>
                        </div>
                        <div class="form-group" id="inactive">
                            <label class="control-label col-sm-2" for="device-inactive">{% trans "Inactive" %}</label>

                            <div class="col-sm-4" id="inactive">
                                <input type="checkbox" id="device-inactive"
                                       name="device-inactive" {{ device.inactive|yesno:"checked," }} />
                            </div>
                        </div>

                        <hr>

                        <h4>{% trans "Assign Groups" %}
                            <a class="btn-sm" href="#" rel="tooltip"
                               title="{% trans 'When the device is member of a group, all policies enforced on the group are applied to the device upon login' %}"><i
                                class="glyphicon glyphicon-info-sign"></i></a>
                        </h4>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="group_select2">{% trans "Groups" %}</label>

                            <div class="col-sm-4">
                                <select data-placeholder="Click to add a group..." id="group_select2" name="group_select2"
                                        multiple
                                        class="slct2-dropdown" tabindex="8"
                                        rel="tooltip"
                                        title="{% trans 'Click into the field to add groups or close them to remove.' %}" {% input_editability %}>
                                    {% for g in groups %}
                                        <option value="{{ g.id }}">{{ g }}</option>
                                    {% endfor %}
                                    {% for m in device_groups %}
                                        <option selected value="{{ m.id }}">{{ m }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <hr>

                        <div class="btn-toolbar">
                            {% if 'auth.write_access' in perms %}
                                <div class="btn-group">
                                    <button class="btn btn-success" type="submit" id="saveDeviceButton"><i
                                        class="glyphicon glyphicon-ok"></i> {% trans "Save" %}</button>
                                </div>
                            {% endif %}
                            {% if device.id %}
                                {% if 'auth.write_access' in perms %}
                                    <div class="btn-group">
                                        <a class="btn btn-danger" href="#delModal" data-toggle="modal"><i
                                            class="glyphicon glyphicon-remove"></i> {% trans "Delete" %}</a>
                                    </div>
                                {% endif %}
                                <div class="btn-group">
                                    <a href="{% url 'devices:device_report' device.id %}" class="btn btn-primary"><i
                                        class="glyphicon glyphicon-file"></i> {% trans "Device report" %}</a>
                                </div>
                                <div class="btn-group">
                                    <a href="{% url 'tpm:tpm_evidence' device.id %}" class="btn btn-primary"><i
                                        class="glyphicon glyphicon-file"></i> {% trans "TPM Evidence" %}</a>
                                </div>
                             {% endif %}
                        </div>
                    </form>
                {% endif %}

                {% if device.pk %}
                    <div id="delModal" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h3 id="deleteModalLabel">{% trans 'Are you sure that you want to delete this device?' %}</h3>
                                </div>
                                <div class="modal-body">
                                    <h4>{% trans 'Warning' %}</h4>

                                    <p>{% trans 'Are you sure that you want to delete this device?' %}</p>
                                </div>
                                <form method="POST" action="{% url 'devices:device_delete' device.pk %}" id="deleteform">
                                    {% csrf_token %}
                                </form>
                                <div class="modal-footer">
                                    <a class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</a>
                                    <a class="btn btn-danger" onclick="deleteform.submit()" href="#">{% trans 'Delete device' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>


{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/devices.js"></script>
{% endblock %}
