{% extends "front/base.html" %}

{% load i18n %}
{% load permissions %}

{% block title %}{{ title }}{% endblock %}

{% block hero %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 group-tree" id="line">
                <h4>Group
                    {% if 'auth.write_access' in perms %}
                        <div class="pull-right">
                            <a class="btn btn-primary btn-xs" href="{% url 'devices:group_add' %}"
                               rel="tooltip" title="add new">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </a>
                        </div>
                    {% endif %}
                </h4>
                <hr>
                {{ grouptree|safe }}
            </div>

            <div class="col-md-9" id="content">
                {% if group %}
                    <h4>Group Info</h4>
                    <form class="form-horizontal" method="POST" action="{% url 'devices:group_save' %}" id="groupform">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="name">Name</label>
                            <div class="col-sm-4">
                                <input type="hidden" id="groupId" name="groupId" value="{{ group.id }}"/>
                                <input type="text" id="name" name="name" placeholder="Name" class="form-control"
                                       value="{{ group }}" rel="tooltip" title="enter the name of the group" {% input_editability %}>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="parent">Parent Group</label>

                            <div class="col-sm-4">
                                <select name="parent" id="parent" class="slct2-dropdown" rel="tooltip"
                                        title="select a parental group" {% input_editability %}>
                                    <option value="">{% trans 'None' %}</option>
                                    {% for g in groups %}
                                        {% if group.id != g.id %}
                                            <option value={{ g.id }}
                                                        {% if group.parent.id == g.id %}
                                                            selected="selected"
                                                        {% endif %}
                                                >{{ g }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <hr>

                        <h4>Assign Devices</h4>

                        <div class="row">

                            <div class="col-sm-5">
                                <select class="form-control" size="5" name="selectionField" id="device_select"
                                        multiple
                                        data-content="Select one or more devices and click the forward button to add it."
                                        rel="popover"
                                        data-placement="bottom" data-original-title="Available devices"
                                        data-trigger="hover" {% input_editability %}>
                                    {% for d in devices %}
                                        <option value="{{ d.id }}">{{ d }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            {% if 'auth.write_access' in perms %}
                            <div class="col-sm-1">
                                <div class="btn-group-vertical">
                                    <button type="button" id="addMemberButton" class="btn btn-default"><i
                                        class="glyphicon glyphicon-forward"></i></button>
                                    <button type="button" id="removeMemberButton" class="btn btn-default"><i
                                        class="glyphicon glyphicon-backward"></i></button>
                                </div>
                            </div>
                            {% endif %}

                            <div class="col-sm-5">
                                <select class="form-control" size="5" name="selectionField" id="member_select"
                                        multiple
                                        data-content="Devices that belongs to this group.
                                        Select one or more devices and click the backward  button to remove it."
                                        rel="popover" data-placement="bottom" data-original-title="Members"
                                        data-trigger="hover" {% input_editability %}>
                                    {% for m in group_members %}
                                        <option value="{{ m.id }}">{{ m }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </form>

                    {% if 'auth.write_access' in perms %}
                        <hr>

                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <a class="btn btn-success" id="groupSaveButton" href="#"><i
                                    class="glyphicon glyphicon-ok"></i> Save</a>
                            </div>

                            {% if group.id %}
                                <div class="btn-group">
                                    <a class="btn btn-danger" href="#delModal" data-toggle="modal"><i
                                        class="glyphicon glyphicon-remove"></i> Delete</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}

                {% if group.pk %}
                <hr />
                <div class="row">
                    <div class="col-md-12">

                    <h5>{% trans 'Applied enforcements' %}</h5>
                    {% if applied_enforcements %}
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>{% trans 'Enforcement' %}</th>
                                <th>{% trans 'Inherited' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for enf in applied_enforcements %}
                                <tr>
                                    <td><a href="{% url 'policies:enforcement_detail' enf.pk %}">{{ enf.list_repr }}</a></td>
                                    {% if enf.group.pk != group.pk %}
                                    <td><a href="{% url 'devices:group_detail' enf.group.pk %}">{{ enf.group.list_repr }}</a></td>
                                    {% else %}
                                    <td>{% trans 'Not inherited' %}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>{% trans 'This group has no applied ' %}<a href="{% url 'policies:enforcement_list' %}">{% trans 'enforcements' %}</a></p>
                    {% endif %}
                    </div>
                </div>
                {% endif %}

                {% if group.pk %}
                    <div id="delModal" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h3 id="deleteModalLabel">{% trans 'Are you sure that you want to delete this group?' %}</h3>
                                </div>
                                <div class="modal-body">
                                    {% if has_dependencies %}
                                        <h4>{% trans 'This group has dependent entites!' %}</h4>
                                        <p>
                                            {% blocktrans %}
                                                If you delete this group, all related groups and enforcements will
                                                be irrecoverably deleted. Do you really want to proceed? <br/>
                                                You are going to delete:
                                            {% endblocktrans %}
                                        </p>
                                        <div class="panel-group" id="accordion2">
                                            {% if child_groups %}
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <a data-toggle="collapse"
                                                           data-parent="#accordion2" href="#collapse1">
                                                            Groups <span
                                                            class="badge pull-right">{{ child_groups|length }}</span>
                                                        </a>
                                                    </div>
                                                    <div id="collapse1" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="list-unstyled">
                                                                {% for child_group in child_groups %}
                                                                    <li><a
                                                                        href="{% url 'devices:group_detail' child_group.pk %}">{{ child_group.list_repr }}</a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if dependent_enforcements %}
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <a data-toggle="collapse"
                                                           data-parent="#accordion2" href="#collapse2">
                                                            Enforcements <span
                                                            class="badge pull-right">{{ dependent_enforcements|length }}</span>
                                                        </a>
                                                    </div>
                                                    <div id="collapse2" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="list-unstyled">
                                                                {% for enforcement in dependent_enforcements %}
                                                                    <li><a
                                                                        href="{% url 'policies:enforcement_detail' enforcement.pk %}">{{ enforcement.list_repr }}</a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="sure" id="sure" onclick=""/>
                                                {% trans 'I still want to delete' %}
                                            </label>
                                        </div>
                                    {% else %}
                                        <h4>{% trans 'Warning' %}</h4>
                                        <p>{% trans 'Are you sure that you want to delete this?' %}</p>
                                    {% endif %}
                                </div>
                                <form method="POST" action="{% url 'devices:group_delete' group.id %}"
                                      id="deleteform">
                                    {% csrf_token %}
                                </form>
                                <div class="modal-footer">
                                    {% if has_dependencies %}
                                        <a class="btn btn-danger" disabled id="deleteButton" href="#"><i
                                            class="glyphicon glyphicon-fire"></i> {% trans "Delete anyway!" %}</a>
                                        <a class="btn btn-success" data-dismiss="modal">{% trans 'Cancel' %}</a>
                                    {% else %}
                                        <a class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</a>
                                        <a class="btn btn-danger" onclick="deleteform.submit()"
                                           href="#">{% trans 'Delete group' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/groups.js"></script>
{% endblock %}

