{% extends "front/base.html" %}

{% load i18n %}
{% load permissions %}
{% load paged_block %}

{% block title %}{{ title }}{% endblock %}

{% block hero %}
    <h1>{{ title }}</h1>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="line">
                <h4>{% trans "Product" %}
                    {% if 'auth.write_access' in perms %}
                        <div class="pull-right">
                            <a class="btn btn-primary btn-xs" href="{% url 'devices:product_add' %}"
                               rel="tooltip" title="add new">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </a>
                        </div>
                    {% endif %}
                </h4>
                <hr>
                {% paged_block config_name="product_list_config" with_filter=True %}
            </div>

            <div class="col-md-9" id="content">
                {% if product %}
                    <form class="form-horizontal" method="POST" action="{% url 'devices:product_save' %}" id="productform">
                        {% csrf_token %}
                        <input type="hidden" id="productId" name="productId" value="{{ product.id }}"/>
                        {% if add %}
                            <h4>{% trans 'Add new product' %}</h4>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="name">{% trans "Name" %}</label>

                                <div class="col-sm-4">
                                    <input type="text" id="name" name="name" placeholder="{% trans "Name" %}"
                                           rel="tooltip" title="{% trans 'Product Name' %}" class="form-control"
                                           value="{{ product.name }}" {% input_editability %}>
                                </div>
                            </div>
                            <hr>
                        {% else %}
                            <h3>{% trans 'Product info:' %} {{ product.name }}</h3>
                        {% endif %}

                        <h4>{% trans "Assign Default Groups" %}
                            <a class="btn-sm" href="#" rel="tooltip"
                               title="{% trans 'New devices connecting to the TNC server that have this product installed, will be assigned to these groups automatically' %}"><i
                                class="glyphicon glyphicon-info-sign"></i></a>
                        </h4>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="group_select">{% trans "Groups" %}</label>

                            <div class="col-sm-4">
                                <select data-placeholder="Click to add a group..." id="group_select" name="group_select"
                                        multiple
                                        class="slct2-dropdown" tabindex="8"
                                        rel="tooltip"
                                        title="{% trans 'Click into the field to add groups or close them to remove.' %}" {% input_editability %}>
                                    {% for g in groups %}
                                        <option value="{{ g.id }}">{{ g }}</option>
                                    {% endfor %}
                                    {% for d in defaults %}
                                        <option selected value="{{ d.id }}">{{ d }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        {% if 'auth.write_access' in perms %}
                            <hr>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-success" type="submit" id="saveProductButton"><i
                                        class="glyphicon glyphicon-ok"></i> {% trans "Save" %}</button>
                                </div>
                                {% if product.id %}
                                    <div class="btn-group">
                                        <a class="btn btn-danger" href="#delModal" data-toggle="modal"><i
                                            class="glyphicon glyphicon-remove"></i> {% trans "Delete" %}</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </form>
                {% endif %}

                {% if product.pk %}
                    <hr />
                    <h5>{% trans 'Devices with this product' %}</h5>
                    {% paged_block config_name='product_devices_list_config' producer_args=paging_args %}

                    <h5>{% trans 'Applied enforcements' %}</h5>
                    {% if enforcements %}
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>{% trans 'Enforcement' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for enf in enforcements %}
                                <tr>
                                    <td><a href="{% url 'policies:enforcement_detail' enf.pk %}">{{ enf.list_repr }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>
                            {% trans 'This product has no applied ' %}<a href="{% url 'policies:enforcement_list' %}">{% trans 'enforcements' %}</a>
                        </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    {% if product.pk %}
        <div id="delModal" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 id="deleteModalLabel">{% trans 'Are you sure that you want to delete this product?' %}</h3>
                    </div>
                    <div class="modal-body">
                        {% if has_dependencies %}
                            <h4>{% trans 'This product has dependent entites!' %}</h4>
                            <p>
                                {% blocktrans %}
                                    If you delete this product, all related devices will
                                    be irrecoverably deleted. Do you really want to proceed? <br/>
                                    You are going to delete:
                                {% endblocktrans %}
                            </p>
                            <div class="panel-group" id="accordion2">
                                {% if devices %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse"
                                               data-parent="#accordion2" href="#collapse1">
                                                Devices <span
                                                class="badge pull-right">{{ devices|length }}</span>
                                            </a>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul class="list-unstyled">
                                                    {% for device in devices %}
                                                        <li><a
                                                            href="{% url 'devices:device_detail' device.pk %}">{{ device.list_repr }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if versions %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse"
                                               data-parent="#accordion2" href="#collapse2">
                                                Versions <span
                                                class="badge pull-right">{{ versions|length }}</span>
                                            </a>
                                        </div>
                                        <div id="collapse2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul class="list-unstyled">
                                                    {% for version in versions %}
                                                        <li><a
                                                            href="{% url 'packages:package_detail' version.package.pk %}">{{ version.list_repr }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="sure" id="sure" onclick=""/>
                                    {% trans 'I still want to delete' %}
                                </label>
                            </div>
                        {% else %}
                            <h4>{% trans 'Warning' %}</h4>
                            <p>{% trans 'Are you sure that you want to delete this product?' %}</p>
                        {% endif %}
                    </div>
                    <form method="POST" action="{% url 'devices:product_delete' product.id %}"
                          id="deleteform">
                        {% csrf_token %}
                    </form>
                    <div class="modal-footer">
                        {% if has_dependencies %}
                            <a class="btn btn-danger" disabled id="deleteButton" href="#"><i
                                class="glyphicon glyphicon-fire"></i> {% trans "Delete anyway!" %}</a>
                            <a class="btn btn-success" data-dismiss="modal">{% trans 'Cancel' %}</a>
                        {% else %}
                            <a class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</a>
                            <a class="btn btn-danger" onclick="deleteform.submit()"
                               href="#">{% trans 'Delete product' %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/products.js"></script>
{% endblock %}


