{% extends "front/base.html" %}

{% load i18n %}
{% load permissions %}
{% load paged_block %}

{% block title %}{{title}}{% endblock %}

{% block hero %}
<h1>{{ title }}</h1>
{% endblock %}


{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" id="line">
      <h4>{% trans "Product" %}
        {% if 'auth.write_access' in perms %}
        <div class="pull-right">
          <a class="btn btn-primary btn-mini" href="/products/add"
          value="addNew" rel="tooltip" title="add new">
            <i class="icon-plus-sign icon-white"></i>
          </a>
        </div>
        {% endif %}
      </h4>
      <hr>
      <div class="row-fluid">
          {% paged_block template_name="front/paging/default_list" list_producer="product_list" stat_producer="product_stat" var_name="object_list" url_name="devices:product_detail" page_size="50" with_filter=True %}
      </div>
    </div>

    <div class="span9" id="content">
      {% if product %}
      <form class="form-horizontal" method="POST" action="/products/save" id="productform">
        {% csrf_token %}
        <input type="hidden" id="productId" name="productId" value="{{ product.id }}" />
        {% if add %}
        <h4>{% trans 'Add new product' %}</h4>
        <div class="control-group">
          <label class="control-label" for="name">{% trans "Name" %}</label>
          <div class="controls">
            <input type="text" id="name" name="name" placeholder="{% trans "Name" %}"
              rel="tooltip" title="{% trans 'Product Name' %}" value="{{ product.name }}" {% input_editability %}>
          </div>
        </div>
        <hr>
        {% else %}
            <div class="row-fluid">
                <h3>{% trans 'Product info:' %} {{ product.name}}</h3>
            </div>
        {% endif %}

        <h4>{% trans "Assign Default Groups" %}
          <a class="btn-small" href="#" rel="tooltip"
            title="{% trans 'New devices connecting to the TNC server that have this product installed, will be assigned to these groups automatically' %}"><i class="icon-info-sign"></i></a>
        </h4>

        <div class="control-group">
          <label class="control-label" for="groupselect">{% trans "Groups" %}</label>
          <div class="controls">
            <select data-placeholder="Click to add a group..." id="group_select" multiple class="slct2-dropdown" tabindex="8"
              rel="tooltip" title="{% trans 'Click into the field to add groups or close them to remove.' %}" {% input_editability %}>
              {% for g in groups %}
              <option value="{{ g.id }}">{{ g }}</option>
              {% endfor %}
              {% for d in defaults %}
              <option selected value="{{ d.id }}">{{ d }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        {% if 'auth.write_access' in perms %}
        <hr>

        <div class="btn-toolbar" style="margin: 0;">
          <div class="btn-group">
            <button class="btn btn-success" type="submit" onclick="save_product()"><i class="icon-ok icon-white"></i> {%trans "Save" %}</button>
          </div><!-- /btn-group -->
          {% if product.id %}
          <div class="btn-group">
            <a class="btn btn-danger" href="#delModal" data-toggle="modal"><i class="icon-remove icon-white"></i> {%trans "Delete" %}</a>
          </div><!-- /btn-group -->
          {% endif %}
        </div><!-- /btn-toolbar-->
        {% endif %}

      {% endif %}
      </form>

    </div><!--content-->
  </div><!--/row-->
</div>

<div id="delModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	  <h3 id="deleteModalLabel">Are you sure to delete this product?</h3>
	</div>
	<div class="modal-body">
	  <h4>Warning</h4>
	  <p>Are you sure to delete this product?</p>
	</div>
        <form method="POST" action="/products/{{ product.id }}/delete" id="deleteform">
          {% csrf_token %}
        </form>
        <div class="modal-footer">
          <a class="btn" data-dismiss="modal">Cancel</a>
          <a class="btn btn-danger" onclick="deleteform.submit()" href="#">Delete product</a>
        </div>
      </div>
<script type="text/javascript">
  function save_product(){
    $('<input />').attr('type', 'hidden').attr('name', 'defaultlist').attr('value',
        $("#group_select option:selected").map(function() {
          return this.value;
          }).get().join()).appendTo("#productform")
  }
</script>
{% endblock %}


