{% extends "front/base.html" %}

{% load i18n %}
{% block title %}{{ title }}{% endblock %}

{% block hero %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h4>{% trans 'Session Info' %}</h4>

            <div class="row">
                <div class="col-md-6">
                    <table class="table" border="0">
                        <tbody>
                        <tr>
                            <td><strong>{% trans 'ID' %}</strong></td>
                            <td>{{ session.id }}</td>
                        </tr>
                        <tr>
                            <td><strong>{% trans 'Device' %}</strong></td>
                            <td>{{ session.device }}</td>
                        </tr>
                        <tr>
                            <td><strong>{% trans 'User' %}</strong></td>
                            <td>{{ session.identity.data }}</td>
                        </tr>
                        <tr>
                            <td><strong>{% trans 'Time' %}</strong></td>
                            <td>{{ session.time|date:'M d H:i:s Y' }}</td>
                        </tr>
                        <tr>
                            <td><strong>{% trans 'Result' %}</strong></td>
                            <td>{{ recommendation }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            {% comment %}
            Button is temporary disabled, the swid-inventory must be modified in order
            to support this functionality.
            <div>
                {% if swid_measurement %}
                    <a href="{% url 'swid:inventory' session.device.pk %}#session-id={{ session.pk }}"
                       class="btn btn-primary"
                       type="button"><i class="glyphicon glyphicon-file"></i> {% trans 'View SWID tags' %}</a>
                {% else %}
                    <p class="label label-info">{% trans 'No SWID tags associated' %}</p>
                {% endif %}
            </div>
            {% endcomment %}

            <hr>
            <h4>{% trans 'Results' %}</h4>
            {% if results %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{% trans "Policy" %}</th>
                        <th>{% trans "Result" %}</th>
                        <th>{% trans "IMV Comment" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for r in results %}
                        <tr>
                            <td><a href="{% url 'policies:policy_detail' r.policy.id %}">{{ r.policy }}</a></td>
                            <td>{{ r.get_recommendation_display }}</td>
                            <td>{{ r.result }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>
                    {% trans 'No measurements in this session.' %}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
