{% extends "front/base.html" %}

{% load i18n %}
{% load permissions %}
{% load paged_block %}

{% block title %}{{ title }}{% endblock %}

{% block hero %}
    <h1>{{ title }}</h1>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="line">
                <h4>{% trans "Device" %}
                    {% if 'auth.write_access' in perms %}
                        <div class="pull-right">
                            <a class="btn btn-primary btn-xs" href="{% url 'devices:device_add' %}"
                               rel="tooltip" title="add new">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </a>
                        </div>
                    {% endif %}
                </h4>
                <hr>
                {% paged_block config_name="tpm_devices_list_config" with_filter=True %}
            </div>

            <div class="col-md-9" id="content">
                <h4>{% trans 'Device Infos' %}</h4>

                <div class="row">
                    <div class="col-md-7">
                        <table class="table" border="0">
                            <tbody class="noWrap">
                            <tr>
                                <td><strong>{% trans 'ID' %}</strong></td>
                                <td><a href="{% url 'devices:device_detail' device.pk %}">{{ device.value }}</a></td>
                            </tr>
                            <tr>
                                <td><strong>{% trans 'Description' %}</strong></td>
                                <td><a href="{% url 'devices:device_detail' device.pk %}">{{ device.description }}</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr>

                <h4>Component Hash</h4>
                <form class="form-horizontal" method="POST" action="{% url 'tpm:comphash_save' %}" id="comphashform">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="description">{{ comphash.algorithm }}</label>

                        <div class="col-sm-10">
                            <input type="hidden" id="hashId" name="hashId" value="{{ comphash.id }}"/>
                            <input type="text" id="hash" name="hash" class="form-control"
                                    placeholder="{% trans 'Component Hash' %}" rel="tooltip"
                                    title="{% trans 'Component Hash' %}"
                                    value="{{ comphash.hash }}" {% input_editability %}>
                        </div>
                    </div>

                    <hr>

                    <div class="btn-toolbar">
                        {% if 'auth.write_access' in perms %}
                            <div class="btn-group">
                                <button class="btn btn-success" type="submit" id="saveHashButton"><i
                                     class="glyphicon glyphicon-ok"></i> {% trans "Save" %}</button>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-danger" href="#delModal" data-toggle="modal"><i
                                    class="glyphicon glyphicon-remove"></i> {% trans "Delete" %}</a>
                            </div>
                        {% endif %}
                        <div class="btn-group">
                            <a href="{% url 'tpm:tpm_evidence' device.id %}" class="btn btn-primary"><i
                                class="glyphicon glyphicon-file"></i> {% trans "TPM Evidence" %}</a>
                        </div>
                   </div>
                </form>

               {% if comphash.pk %}
                    <div id="delModal" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h3 id="deleteModalLabel">{% trans 'Delete this component hash?' %}</h3>
                                </div>
                                <div class="modal-body">
                                    <h4>{% trans 'Warning' %}</h4>

                                    <p>{% trans 'Are you sure that you want to delete this component hash?' %}</p>
                                </div>
                                <form method="POST" action="{% url 'tpm:comphash_delete' comphash.pk %}" id="deleteform">
                                    {% csrf_token %}
                                </form>
                                <div class="modal-footer">
                                    <a class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</a>
                                    <a class="btn btn-danger" onclick="deleteform.submit()" href="#">{% trans 'Delete component hash' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
