{% extends "front/base.html" %}

{% load i18n %}
{% load paged_block %}
{% block title %}{{ title }}{% endblock %}

{% block hero %}
    <h1>{{ title }}</h1>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="line">
                <h4>{% trans "Device" %}
                    {% if 'auth.write_access' in perms %}
                        <div class="pull-right">
                            <a class="btn btn-primary btn-xs" href="{% url 'devices:device_add' %}"
                               rel="tooltip" title="add new">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </a>
                        </div>
                    {% endif %}
                </h4>
                <hr>
                {% paged_block config_name="tpm_devices_list_config" with_filter=True %}
            </div>

            <div class="col-md-9" id="content">
                <h4>{% trans 'Device Infos' %}</h4>

                <div class="row">
                    <div class="col-md-7">
                        <table class="table" border="0">
                            <tbody class="noWrap">
                            <tr>
                                <td><strong>{% trans 'ID' %}</strong></td>
                                <td><a href="{% url 'devices:device_detail' device.pk %}">{{ device.value }}</a></td>
                            </tr>
                            <tr>
                                <td><strong>{% trans 'Description' %}</strong></td>
                                <td><a href="{% url 'devices:device_detail' device.pk %}">{{ device.description }}</a></td>
                            </tr>
                            <tr>
                                <td><strong>{% trans 'Total Comp. Hashes' %}</strong></td>
                                <td>{{ comp_hashes_count }}</td>
                             </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="btn-group">
                    <a href="{% url 'devices:device_report' device.id %}" class="btn btn-primary"><i
                        class="glyphicon glyphicon-file"></i> {% trans "Device Report" %}</a>
                </div>
                <hr>
                <h4>Component Hashes &nbsp;
                    {% if 'auth.write_access' in perms and comp_hashes %}
                        <a class="btn btn-danger btn-xs" href="#delModal" data-toggle="modal"
                            rel="tooltip" title="delete all"><i class="glyphicon glyphicon-remove"></i></a>
                    {% endif %}
                </h4>
                {% if comp_hashes %}
                    <table id="versions" class="table table-hover table-striped sortable">
                        <thead>
                        <tr>
                            <th>{% trans 'Type' %}</th>
                            <th>{% trans 'Seq No' %}</th>
                            <th>{% trans 'PCR' %}</th>
                            <th>{% trans 'Algo' %}</th>
                            <th>{% trans 'Hash' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                           {% for h in comp_hashes %}
                           <tr>
                               <td>{{ h.component }}</td>
                               <td>{{ h.seq_no }}</td>
                               <td>{{ h.pcr }}</td>
                               <td>{{ h.algorithm }}</td>
                               <td title="{{ h.hash }}">
                                   <a href="{% url 'tpm:comphash_detail' h.pk %}">
                                       {{ h.hash|truncatechars:64 }}
                                   </a>
                               </td>
                           </tr>
                           {% endfor %}
                        </tbody>
                    </table>

                    <div id="delModal" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h3 id="deleteModalLabel">{% trans 'Delete all component hashes?' %}</h3>
                                </div>
                                <div class="modal-body">
                                    <h4>{% trans 'Warning' %}</h4>

                                    <p>{% trans 'Are you sure that you want to delete all component hashes?' %}</p>
                                </div>
                                <form method="POST" action="{% url 'tpm:comphashes_delete' device.pk %}" id="deleteform">
                                    {% csrf_token %}
                                </form>
                                <div class="modal-footer">
                                    <a class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</a>
                                    <a class="btn btn-danger" onclick="deleteform.submit()" href="#">{% trans 'Delete all component hashes' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                 {% else %}
                     <p>{% trans 'This device has no associated component hashes.' %}</p>
                 {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
