{% extends "front/base.html" %}

{% load i18n %}
{% load permissions %}
{% load paged_block %}

{% block title %}{% trans "Regids" %}{% endblock %}

{% block hero %}
    <h1>{% trans "Regids" %}</h1>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="line">
                <h4>{% trans "Regids" %}</h4>
                <hr>
                {% paged_block config_name="regid_list_config" with_filter=True %}
            </div>

            <div class="col-md-9" id="content">
                {% block detail %}{% endblock %}
            </div>
            <!--content-->
        </div>
        <!--/row-->
    </div>

{% endblock %}


