{% extends "front/base.html" %}

{% load i18n %}
{% load permissions %}
{% load paged_block %}

{% block title %} SWID {% trans "log for " %} {{ object.description }}{% endblock %}

{% block hero %}
    <h1>SWID {% trans "log for " %} {{ object.description }}</h1>
{% endblock %}

{% block content %}
    <div>
        <a href="{% url 'devices:device_report' device.id %}" class="btn btn-primary btn-xs">
            <i class="glyphicon glyphicon-file"></i> {% trans "Device Report" %}</a>
        <a href="{% url 'swid:inventory' object.pk %}" class="btn btn-primary btn-xs">
            <i class="glyphicon glyphicon-file"></i> {% trans 'SWID Inventory' %}</a>
    </div>
    <h3>{% trans 'Set date range' %}</h3>
    <form class="form-inline">

        <input type="hidden" id="device-id" value="{{ object.pk }}">

        <div class="form-group">
            <label for="from">{% trans 'From' %}</label>

            <div class="input-group">
                <input type="text" class="form-control" id="from">
                <span class="input-group-addon" id="from-btn"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>

            <label for="to">{% trans 'To' %}</label>

            <div class="input-group">
                <input type="text" class="form-control" id="to">
                <span class="input-group-addon" id="to-btn"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
            <button class="btn btn-default" id="session-filter-reset">Reset</button>
        </div>

        <div class="form-group">
            <label for="calendar-shortcuts">{% trans 'Predefined range' %}</label>
            <select name="calendar-shortcuts" id="calendar-shortcuts">
                <option value="0" selected>{% trans 'Choose preset' %}</option>
                <option value="0">{% trans 'Today' %}</option>
                <option value="-1w">{% trans 'Last Week' %}</option>
                <option value="-2w">{% trans 'Last two Weeks' %}</option>
                <option value="-1m">{% trans 'Last Month' %}</option>
                <option value="-1y">{% trans 'Last Year' %}</option>
                <option value="Jan 01. 1970">{% trans 'All' %}</option>
            </select>
        </div>
    </form>

    <h3>{% trans 'Changes summary' %}</h3>
    <div class="row">
        <div class="col-md-7">
            <table class="table statsTable" border="0">
                <tbody>
                <tr>
                    <td class="title noWrap"><strong>{% trans 'Added SWID tags' %}</strong></td>
                    <td class="addedTags">0</td>
                </tr>
                <tr>
                    <td class="title noWrap"><strong>{% trans 'Removed SWID tags' %}</strong></td>
                    <td class="removedTags">0</td>
                </tr>
                <tr>
                    <td class="title noWrap"><strong>{% trans 'Sessions in range' %}</strong></td>
                    <td class="sessionCount">0</td>
                </tr>
                <tr>
                    <td class="title noWrap"><strong>{% trans 'First session in range' %}</strong></td>
                    <td class="firstSession dateWidth">{% trans 'None' %}</td>
                </tr>
                <tr>
                    <td class="title noWrap"><strong>{% trans 'Last session in range' %}</strong></td>
                    <td class="lastSession dateWidth">{% trans 'None' %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="logTabelContainer">
        <h3>{% trans 'Change log' %}</h3>
        {% paged_block config_name='swid_log_list_config' with_filter=True %}
    </div>

{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/swid-log.js"></script>
{% endblock %}
