{% extends "front/base.html" %}

{% load i18n %}
{% load permissions %}

{% block title %} SWID {% trans "Inventory for " %} {{ object.description }}{% endblock %}

{% block hero %}
    <h1>SWID {% trans "Inventory for " %} {{ object.description }}</h1>
{% endblock %}


{% block content %}
    <div class="row-fluid">
        <a href="{% url 'swid:swid_log' object.pk %}#session-id={{ current_session.pk }}" id="swid-log-link"
           class="btn btn-primary btn-mini">
            <i class="icon-file icon-white"></i>{% trans 'View SWID log' %}
        </a>
    </div>
    {% if current_session == None %}
        {# This means that the device has no related sessions. #}
        <div class="row-fluid">
            <h4>{% trans 'No sessions found!' %}</h4>

            <p>{% trans 'This device has no recorded sessions.' %}
                {% trans 'Please initiate a session with this device and try again.' %}</p>

            <p><a href="#" class="history_back">{% trans 'Go back' %}</a></p>
        </div>
    {% else %}
        <div class="row-fluid">
            <h4>View Sessions</h4>

            <h5>1. Filter Session Range</h5>
        </div>
        <form class="form-inline">
            <input type="hidden" id="device-id" value="{{ object.pk }}">
            <label for="from">From: </label>

            <div class="input-append">
                <input type="text" class="input-small" id="from">
                <span class="add-on" id="from-btn"><i class="icon-calendar"></i></span>
            </div>
            <label for="to">To: </label>

            <div class="input-append">
                <input type="text" class="input-small" id="to">
                <span class="add-on" id="to-btn"><i class="icon-calendar"></i></span>
            </div>
            <label for="calendar-shortcuts offset-1"> or use predefined range: </label>

            <div class="input-append">
                <select id="calendar-shortcuts">
                    <option value="null">Today</option>
                    <option value="-1w" selected>Last Week</option>
                    <option value="-2w">Last 2 Weeks</option>
                    <option value="-1m">Last Month</option>
                    <option value="-1y">Last Year</option>
                    <option value="01/01/1970">All</option>
                </select>
            </div>
            <button class="btn" id="session-filter-reset">Reset</button>
            </div>
        </form>
        <div class="row-fluid">
            <h5>2. Choose from available Sessions</h5>

            <div class="sessions-dropdown">
                <input type="hidden" id="sessions">
                <span id="num-of-sessions">0</span> sessions
            </div>
        </div>
        <hr>
        <div>
            <div class="row-fluid">
                <h4>{% trans 'Measured Software Tags' %}</h4>
            </div>
            <div class="row-fluid">
                <div class="span7">
                    <table border="0" class="table">
                        <tbody>
                        <tr>
                            <td><strong>{% trans 'Session Date' %}</strong></td>
                            <td class="dateWidth"><span id="for-session">
                                 {% trans 'Please select session first' %}
                            </span>
                            </td>
                        </tr>

                        <tr>
                            <td><strong>{% trans 'Total tags for this session' %}</strong></td>
                            <td><span id="swid-tag-count">-</span></td>
                        </tr>
                        <tr>
                            <td><strong>{% trans 'Tags first reported in this session' %}</strong></td>
                            <td><span id="swid-newtag-count">-</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row-fluid">
                <table role="grid" id="swid-tags"
                       class="table table-hover table-striped">
                    <thead>
                    <tr role="row">
                        <th class="siwd-new-icon"></th>
                        <th>
                            Packagename
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Unique ID
                        </th>
                        <th class="dateWidth">
                            First reported
                        </th>
                    </tr>
                    </thead>

                    <tbody id="tags-table-body">
                    </tbody>
                </table>
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/swid-inventory.js"></script>
{% endblock %}
