{% extends "front/base.html" %}

{% load i18n %}
{% load permissions %}
{% load paged_block %}

{% block title %} SWID {% trans "Inventory for " %} {{ object.description }}{% endblock %}

{% block hero %}
    <h1>SWID {% trans "Inventory for " %} {{ object.description }}</h1>
{% endblock %}


{% block content %}
    <div>
        <a href="{% url 'devices:device_report' device.id %}" class="btn btn-primary btn-xs">
            <i class="glyphicon glyphicon-file"></i> {% trans "Device Report" %}</a>
        <a href="{% url 'swid:log' object.pk %}#session-id={{ current_session.pk }}" class="btn btn-primary btn-xs">
            <i class="glyphicon glyphicon-file"></i> {% trans 'SWID Log' %}</a>
    </div>
    {% if current_session == None %}
        {# This means that the device has no related sessions. #}
        <h4>{% trans 'No sessions found!' %}</h4>

        <p>{% trans 'This device has no recorded sessions.' %}
            {% trans 'Please initiate a session with this device and try again.' %}</p>

        <p><a href="#" class="history_back">{% trans 'Go back' %}</a></p>
    {% else %}
        <h3>{% trans 'Define range' %}</h3>
        <form class="form-inline">
            <input type="hidden" id="device-id" value="{{ object.pk }}">

            <div class="form-group">
                <label for="from">{% trans 'From' %}</label>

                <div class="input-group">
                    <input type="text" class="form-control" id="from">
                    <span class="input-group-addon" id="from-btn"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>

                <label for="to">{% trans 'To' %}</label>

                <div class="input-group">
                    <input type="text" class="form-control" id="to">
                    <span class="input-group-addon" id="to-btn"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                <button type="button" class="btn btn-default" id="session-filter-reset">Reset</button>
            </div>

            <div class="form-group">
                <label for="calendar-shortcuts">{% trans 'Predefined range' %}</label>
                <select name="calendar-shortcuts" id="calendar-shortcuts">
                    <option value="0" selected>{% trans 'Choose preset' %}</option>
                    <option value="0">{% trans 'Today' %}</option>
                    <option value="-1w">{% trans 'Last Week' %}</option>
                    <option value="-2w">{% trans 'Last two Weeks' %}</option>
                    <option value="-1m">{% trans 'Last Month' %}</option>
                    <option value="-1y">{% trans 'Last Year' %}</option>
                    <option value="Jan 01. 1970">{% trans 'All' %}</option>
                </select>
            </div>
        </form>

        <h4>{% trans 'Range summary' %}</h4>
        <div class="row">
            <div class="col-md-7">
                <table class="table statsTable">
                    <tbody>
                    <tr>
                        <td class="title noWrap"><strong>{% trans 'Sessions in range' %}</strong></td>
                        <td class="sessionCount">0</td>
                    </tr>
                    <tr>
                        <td class="title noWrap"><strong>{% trans 'Oldest session in range' %}</strong></td>
                        <td class="firstSession dateWidth">{% trans 'None' %}</td>
                    </tr>
                    <tr>
                        <td class="title noWrap"><strong>{% trans 'Latest session in range' %}</strong></td>
                        <td class="lastSession dateWidth">{% trans 'None' %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h3>{% trans 'Sessions' %}</h3>

        {% paged_block config_name="swid_inventory_session_list_config" initial_load=False %}

    {% endif %}
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/swid-inventory.js"></script>
{% endblock %}
