{% extends 'swid/tags_list.html' %}

{% load i18n %}
{% load paged_block %}

{% block title %}{{ object.unique_id }}{% endblock %}

{% block hero %}
    <h1>{{ object.unique_id }}</h1>
{% endblock %}

{% block detail %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

            {% if object %}
                <h4>Tag Info</h4>
                <table class="table" border="0">
                    <tbody>
                    <tr>
                        <td class="noWrap"><strong>{% trans 'Name' %}</strong></td>
                        <td>
                            {% if object.get_matching_packages %}
                                <a href="{% url 'packages:package_detail' object.get_matching_packages.0.pk %}">
                                    {{ object.package_name }}
                                </a>
                            {% else %}
                                {{ object.package_name }}
                                <a title="{% trans 'No matching package found' %}"
                                   data-toggle="tooltip" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="noWrap"><strong>{% trans 'Version' %}</strong></td>
                        <td>
                            {{ object.version_str }}
                            {% if object.version %}
                                {% if object.version.security %}
                                    <i class="glyphicon glyphicon-ban-circle text-danger" rel="tooltip" title="vulnerable"></i>
                                {% else %}
                                    <i class="glyphicon glyphicon-ok-circle text-success" rel="tooltip" title="ok"></i>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="noWrap"><strong>{% trans 'Tag ID' %}</strong></td>
                        <td>{{ object.unique_id }}</td>
                    </tr>
                    <tr>
                        <td class="noWrap"><strong>{% trans 'Entities' %}</strong></td>
                        <td>
                            {% regroup entityroles|dictsort:"entity.name" by entity.pk as entity_list %}
                            {% for entity in entity_list %}
                                <a href="{% url 'swid:regid_detail' entity.grouper %}"
                                   title="{{ entity.grouper }}"> {{ entity.list.0.entity.name }}
                                </a>
                                ({% for role in entity.list %}{{ role.get_role_display }}{% if not forloop.last %},{% endif %}{% endfor %})
                                {% if not forloop.last %}
                                    <br/>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td class="noWrap"><strong>{% trans 'Software ID' %}</strong></td>
                        <td>
                            {{ object.software_id }}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary" href="#swidTagXmlModal" data-toggle="modal">
                    <i class="glyphicon glyphicon-file"></i>{% trans 'View raw SWID tag' %}
                </a>

                <hr>

                <h4>{% trans 'Reported by Devices' %}</h4>
                {% paged_block config_name='swid_devices_list_config' producer_args=paging_args %}

                <hr>

                <h4>Files</h4>
                {% paged_block config_name='swid_files_list_config' producer_args=paging_args %}

                <hr>

                <div id="swidTagXmlModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4>{% trans 'SWID tag' %}: {{ object.unique_id }}</h4>
                            </div>
                            <div class="modal-body">
                                <pre class="raw-xml">{{ object.swid_xml }}</pre>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-info" data-dismiss="modal">Ok</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
    </div>
{% endblock %}


