{% extends "front/base.html" %}

{% load i18n %}
{% load paged_block %}

{% block title %}SWID tags{% endblock %}

{% block hero %}
    <h1>SWID tags</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="line">
                <h4>{% trans "Tag" %}</h4>
                <hr>
                {% paged_block config_name="swid_list_config" with_filter=True %}
            </div>

            <div class="col-md-9" id="content">
                {% block detail %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
