{% load i18n %}
{% load text_filters %}

{% if object_list %}
    <table role="grid" id="swid-tags"
           class="table table-hover table-striped">
        <thead>
        <tr role="row">
            <th class="noWrap">
                {% trans 'Session' %}
            </th>
            <th class="actionWidth">
                {% trans 'Action' %}
            </th>
            <th>
                {% trans 'Unique ID' %}
            </th>
            <th>
                {% trans 'Package name' %}
            </th>
            <th>
                {% trans 'Version' %}
            </th>
        </tr>
        </thead>

        <tbody id="tags-table-body">
        {% for session, tags in object_list.iteritems %}
            {% for tag in tags %}
                <tr>
                    {% if forloop.first %}
                        <td class="noWrap" rowspan="{{ tags|length }}">
                            <a href="{% url 'devices:session_detail' session.pk %}">{{ session.time|date:"M d H:i:s Y" }}</a>
                        </td>
                    {% endif %}
                    <td>
                        {% if tag.added %}
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        {% else %}
                            <i class="glyphicon glyphicon-minus-sign"></i>
                        {% endif %}
                    </td>
                    <td><a href="{% url url_name tag.pk %}">{{ tag.unique_id|highlight:filter_query }}</a></td>
                    <td>
                        {% if tag.get_matching_packages %}
                            <a href="{% url 'packages:package_detail' tag.get_matching_packages.0.pk %}">
                                {{ tag.package_name|highlight:filter_query }}
                            </a>
                        {% else %}
                            <span title="{% trans 'No matching package found' %}">{{ tag.package_name|highlight:filter_query }}</span>
                        {% endif %}
                    </td>
                    <td>{{ tag.version_str }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
         </tbody>
    </table>
{% else %}
    <p>
        <small>There are no entries.</small>
    </p>
{% endif %}
