{% extends "tncapp/base.html" %}

{% load i18n %}
{% block title %}{{title}}{% endblock %}

{% block hero %}
<h1>{{ title }}</h1>
{% endblock %}


{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" id="line">
      <h4>{% trans "Policy" %}
        <div class="pull-right">
          <a class="btn btn-primary btn-mini" href="/policies/add"
          value="addNew" rel="tooltip" title="add new">
            <i class="icon-plus-sign icon-white"></i>
          </a>
        </div>
      </h4>
      <hr>
      <div class="row-fluid">
      	{% if count > 0 %}
	<form class="form-search pull-center" action="/policies/search" method="get">
	  <div class="input-append">
	    <input type="text" class="input input-small search-query" name="q" placeholder="Filter" value="{{ query }}" autofocus>
	    <button type="submit" class="btn"><i class="icon-search"></i></button>
	  </div>
	</form>
        {% endif %}
	{% if policy|length >= 50 %}
        {% if policies.paginator.num_pages > 1 %}
	<div class="pagination pagination-mini pagination-centered">
	  <ul>
	    {% if policies.has_previous %}
	    <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ policies.previous_page_number }}">&laquo;</a></li>
	    {% else %}
	    <li class="disabled"><a href="">&laquo;</a></li>
	    {% endif %}
	    <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ policies.number }}">Page {{ policies.number }} of {{ policies.paginator.num_pages }}</a></li>
	    {% if policies.has_next %}
	    <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ policies.next_page_number }}">&raquo;</a></li>
	    {% else %}
	    <li class="disabled"><a href="">&raquo;</a></li>
	    {% endif %}
	  </ul>
	</div>
	{% endif %}
        {% endif %}
      </div>
      {% if policies %}
      <table class="table table-hover">
	<tbody>
	{% for p in policies %}
	  <tr><td><a href=/policies/{{ p.id }}>{{ p }}</a></td></tr>
	{% endfor %}
	</tbody>
      </table>
      {% elif count == 0 %}
    <p><small>There are no entries.</small></p>      
      {% elif query %}
    <p><small>No policies matched your search criteria.</small></p>
    {% endif %}    
    </div>

    <div class="span9" id="content">
      {% if policy %}
      <h4>{% trans "Policy Info"%}</h4>
      <form class="form-horizontal" method="POST" action="/policies/save" id="policyform">
        {% csrf_token %}
        <input type="hidden" name="enforcementId" id="enforcementId" value="{{enforcement.id}}" />

        <div class="control-group">
          <label class="control-label" for="id">{% trans "Name" %}</label>
          <div class="controls">
            <input type="hidden" id="policyId" name="policyId" value="{{policy.id}}" />
            <input type="text" id="name" name="name" placeholder="{% trans 'Name' %}"
              rel="tooltip" title="{% trans 'Policy Name' %}"
            value="{{ policy.name }}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="description">{% trans "Type" %}</label> 
          <div class="controls">   
            <select id="type" name="type" class="chzn-select" onchange="type_change()" rel="tooltip" title="{% trans 'Policy Type' %}">
              <option value="-1">{% trans 'Select one...' %}</option>
              {% for t in types %}
              <option value="{{ forloop.counter0 }}"
              {% if policy.type == forloop.counter0 %} selected {% endif %}>{{ t }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        
        <div class="control-group" id="file">
          <label class="control-label" for="file">{% trans "File" %}</label> 
          <div class="controls">   
            <select id="file" name="file" class="chzn-select" rel="tooltip"
              title="{% trans 'File to check' %}">
              <option value="">{% trans 'Select one...' %}</option>
              {% for f in files %}
              <option value="{{ f.id }}" {% if policy.file.id == f.id %} selected {% endif %}>{{ f }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        
        <div class="control-group" id="dir">
          <label class="control-label" for="dir">{% trans "Directory" %}</label> 
          <div class="controls">   
            <select id="dir" name="dir" class="chzn-select" rel="tooltip"
              title="{% trans 'Directory to check' %}">
              <option value="">{% trans 'Select one...' %}</option>
              {% for d in dirs %}
              <option value="{{ d.id }}"{% if policy.dir.id == d.id %} selected {% endif %}>{{ d }}</option>
              {% endfor %}
            </select>
          </div>
        </div>        
        
        <div class="control-group hide filter" id="closed-port">
          <label class="control-label" for="range">{% trans "All ports closed except" %}</label> 
          <div class="controls">   
            <input type="text" id="range" name="range" placeholder="{% trans 'Port Range' %}"
              rel="tooltip" title="{% trans 'Comma or space separated range(s) of ports, f.e: 5,10-1024 2450-4000' %}"
              value="{{ policy.argument|default:'' }}">
          </div>
        </div>

        <div class="control-group hide filter" id="open-port">
          <label class="control-label" for="range">{% trans "All ports open except" %}</label>
          <div class="controls">
            <input type="text" id="range" name="range" placeholder="{% trans 'Port Range' %}"
              rel="tooltip" title="{% trans 'Comma or space separated range(s) of ports, f.e: 5,10-1024 2450-4000' %}"
              value="{{ policy.argument|default:'' }}">
          </div>
        </div>

        <div class="control-group filter" id="swid-request">
	      <label class="control-label" for="flags">{% trans "SWID Request Flags" %}</label>
	      <div class="controls">
		    <select id="flags" name="flags" class="chzn-select" rel="tooltip"
		      title="{% trans 'R for Tag IDs only, S for Subscribe, C for Clear subscription' %}">
			  <option value="R"
		        {% if policy.argument == 'R' %}
		          selected="selected"
		        {% endif %}
		        >{% trans 'R (Tag IDs only)' %}</option>
			  <option value="S"
		        {% if policy.argument == 'S' %}
		          selected="selected"
		        {% endif %}
		        >{% trans 'S (Subscribe)' %}</option>
			  <option value="C"
			    {% if policy.argument == 'C' %}
			      selected="selected"
			    {% endif %}
			    >{% trans 'C (Clear subscription)' %}</option>
		      </select>
	      </div>
      </div>

      <div class="control-group filter" id="tpm-attestation">
	    <label class="control-label" for="flags">{% trans "TPM Attestation Flags" %}</label>
	    <div class="controls">
		  <select id="flags" name="flags" class="chzn-select" rel="tooltip"
		    title="{% trans 'B for BIOS measurements, I for IMA measurements' %}">
			<option value="B"
	          {% if policy.argument == 'B' %}
	            selected="selected"
	          {% endif %}
	          >{% trans 'B (BIOS)' %}</option>
			<option value="I"
			  {% if policy.argument == 'I' %}
			    selected="selected"
			  {% endif %}
			>{% trans 'I (IMA)' %}</option>
		   </select>
	      </div>
      </div>

	      <div class="control-group">
          <label class="control-label" for="fail">{% trans "Fail-Action" %}</label> 
          <div class="controls">   
            <select id="fail" name="fail" class="chzn-select" rel="tooltip"
              title="{% trans 'Recommendation when a client does not meet the policy requirement' %}">
              <option value="">{% trans 'Select one...' %}</option>
              {% for a in action %}
              <option value="{{forloop.counter0}}"
              {% if policy.fail == forloop.counter0 %}
              selected="selected"
              {% endif %} 
              >{{ a }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="noresult">{% trans "Noresult-Action" %}</label> 
          <div class="controls">   
            <select id="noresult" name="noresult" class="chzn-select" rel="tooltip"
              title="{% trans 'Recommendation when the policy does not apply to the client' %}">
              <option value="">{% trans 'Select one...' %}</option>
              {% for a in action %}
              <option value="{{forloop.counter0}}"
              {% if policy.noresult == forloop.counter0 %}
              selected="selected"
              {% endif %} 
              >{{ a }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

      <hr>

        <div class="btn-toolbar" style="margin: 0;">
          <div class="btn-group">
            <button class="btn btn-success" type="submit"><i class="icon-ok icon-white"></i> {%trans "Save" %}</button>
          </div><!-- /btn-group -->
          {% if policy.id %}
          <div class="btn-group">
            <a class="btn btn-danger" href="#delModal" data-toggle="modal"><i class="icon-remove icon-white"></i> Delete</a>
          </div><!-- /btn-group -->
          {% endif %}
        </div><!-- /btn-toolbar-->
      {% endif %}
      </form>
    
    </div><!--content-->
  </div><!--/row-->
</div>

<div id="delModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="deleteModalLabel">Are you sure to delete this policy?</h3>
  </div>
  <div class="modal-body">
    <h4>Warning</h4>
    <p>Are you sure you want to delete this policy?</p>
  </div>
  <form method="POST" action="/policies/{{ policy.id }}/delete" id="deleteform">
    {% csrf_token %}
  </form>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Cancel</a>
    <a class="btn btn-danger" onclick="deleteform.submit()" href="#">Delete policy</a>
  </div>
</div>
<script type="text/javascript">

$(document).ready(function () {
  type_change();
  $('#policyform').submit(function(){
	  var $form = $(this);
	  $form.children('.filter:hidden').remove();
  });
})

function type_change(){
  var PCKGS =  1;
  var UNSRC =  2;
  var FWDEN =  3;
  var PWDEN =  4;
  var FREFM =  5;
  var FMEAS =  6;
  var FMETA =  7;
  var DREFM =  8;
  var DMEAS =  9;
  var DMETA = 10;
  var TCPOP = 11;
  var TCPBL = 12;
  var UDPOP = 13;
  var UDPBL = 14;
  var SWIDT = 15;
  var TPMRA = 16;

  $(document.getElementById('file')).hide();
  $(document.getElementById('dir')).hide();
  $(document.getElementById('closed-port')).hide();
  $(document.getElementById('open-port')).hide();
  $(document.getElementById('swid-request')).hide();
  $(document.getElementById('tpm-attestation')).hide();

  type = $("select#type option:selected").attr("value")
  //type ++; //Because empty defaults to 0

  if (type == FREFM || type == FMEAS || type == FMETA)
    $(document.getElementById('file')).show();
  else if (type == DREFM || type == DMEAS || type == DMETA)
    $(document.getElementById('dir')).show();
  else if (type == TCPOP || type == UDPOP)
    $(document.getElementById('closed-port')).show();
  else if (type == TCPBL || type == UDPBL)
    $(document.getElementById('open-port')).show();
  else if (type == SWIDT)
    $(document.getElementById('swid-request')).show();
  else if (type == TPMRA)
    $(document.getElementById('tpm-attestation')).show();
}

</script>
{% endblock %}


