{% extends "tncapp/base.html" %}

{% load i18n %}
{% block title %}{{title}}{% endblock %}

{% block hero %}
<h1>{{ title }}</h1>
{% endblock %}


{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" id="line">
      <h4>{% trans "Policy" %}
        <div class="pull-right">
          <a class="btn btn-primary btn-mini" href="/policies/add"
          value="addNew" rel="tooltip" title="add new">
            <i class="icon-plus-sign icon-white"></i>
          </a>
        </div>
      </h4>
      <hr>
      <div class="row-fluid">
      	{% if count > 0 %}
	<form class="form-search pull-center" action="/policies/search" method="get">
	  <div class="input-append">
	    <input type="text" class="input input-small search-query" name="q" placeholder="Filter" value="{{ query }}" autofocus>
	    <button type="submit" class="btn"><i class="icon-search"></i></button>
	  </div>
	</form>
        {% endif %}
	{% if policy|length >= 50 %}
        {% if policies.paginator.num_pages > 1 %}
	<div class="pagination pagination-mini pagination-centered">
	  <ul>
	    {% if policies.has_previous %}
	    <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ policies.previous_page_number }}">&laquo;</a></li>
	    {% else %}
	    <li class="disabled"><a href="">&laquo;</a></li>
	    {% endif %}
	    <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ policies.number }}">Page {{ policies.number }} of {{ policies.paginator.num_pages }}</a></li>
	    {% if policies.has_next %}
	    <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ policies.next_page_number }}">&raquo;</a></li>
	    {% else %}
	    <li class="disabled"><a href="">&raquo;</a></li>
	    {% endif %}
	  </ul>
	</div>
	{% endif %}
        {% endif %}
      </div>
      {% if policies %}
      <table class="table table-hover">
	<tbody>
	{% for p in policies %}
	  <tr><td><a href=/policies/{{ p.id }}>{{ p }}</a></td></tr>
	{% endfor %}
	</tbody>
      </table>
      {% elif count == 0 %}
    <p><small>There are no entries.</small></p>
      {% elif query %}
    <p><small>No policies matched your search criteria.</small></p>
    {% endif %}
    </div>

    <div class="span9" id="content">
      {% if policy %}
      <h4>{% trans "Policy Info"%}</h4>
      <form class="form-horizontal" method="POST" action="/policies/save" id="policyform">
        {% csrf_token %}
        <input type="hidden" name="enforcementId" id="enforcementId" value="{{enforcement.id}}" />

        <div class="control-group">
          <label class="control-label" for="id">{% trans "Name" %}</label>
          <div class="controls">
            <input type="hidden" id="policyId" name="policyId" value="{{policy.id}}" />
            <input type="text" id="name" name="name" placeholder="{% trans 'Name' %}"
              rel="tooltip" title="{% trans 'Policy Name' %}"
            value="{{ policy.name }}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="type">{% trans "Type" %}</label>
          <div class="controls">
            <select id="type" name="type" class="chzn-select" onchange="type_change()" rel="tooltip" title="{% trans 'Policy Type' %}">
              <option value="-1">{% trans 'Select one...' %}</option>
              {% for t in types %}
              <option value="{{ forloop.counter0 }}"
              {% if policy.type == forloop.counter0 %} selected {% endif %}>{{ t }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="control-group" id="file">
          <label class="control-label" for="file">{% trans "File" %}</label>
          <div class="controls">
            <select id="file" name="file" class="chzn-select" rel="tooltip"
              title="{% trans 'File to check' %}">
              <option value="">{% trans 'Select one...' %}</option>
              {% for f in files %}
              <option value="{{ f.id }}" {% if policy.file.id == f.id %} selected {% endif %}>{{ f }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="control-group" id="dir">
          <label class="control-label" for="dir">{% trans "Directory" %}</label>
          <div class="controls">
            <select id="dir" name="dir" class="chzn-select" rel="tooltip"
              title="{% trans 'Directory to check' %}">
              <option value="">{% trans 'Select one...' %}</option>
              {% for d in dirs %}
              <option value="{{ d.id }}"{% if policy.dir.id == d.id %} selected {% endif %}>{{ d }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="control-group hide filter" id="closed-port">
          <label class="control-label" for="range">{% trans "All ports closed except" %}</label>
          <div class="controls">
            <input type="text" id="range" name="range" placeholder="{% trans 'Port Range' %}"
              rel="tooltip" title="{% trans 'Whitespace separated range(s) of ports, f.e: 5 10-1024 2450-4000' %}"
              value="{{ policy.argument|default:'' }}">
          </div>
        </div>

        <div class="control-group hide filter" id="open-port">
          <label class="control-label" for="range">{% trans "All ports open except" %}</label>
          <div class="controls">
            <input type="text" id="range" name="range" placeholder="{% trans 'Port Range' %}"
              rel="tooltip" title="{% trans 'Whitespace separated range(s) of ports, f.e: 5 10-1024 2450-4000' %}"
              value="{{ policy.argument|default:'' }}">
          </div>
        </div>

        <div class="control-group filter" id="swid-request">
	      <label class="control-label" for="swid-flags">{% trans "SWID Request Flags" %}</label>
	      <div class="controls">
		    <select data-placeholder="Click to add a SWID flag.." id="swid-flags" name="swid-flags"
                multiple class="chzn-select-deselect" rel="tooltip"
		        title="{% trans 'R for Tag IDs only, S for Subscribe, C for Clear subscription' %}">
			  <option value="R"
		        {% if 'R' in policy.argument %}
		          selected="selected"
		        {% endif %}
		        >{% trans 'R (Tag IDs only)' %}</option>
			  <option value="S"
		        {% if 'S' in policy.argument %}
		          selected="selected"
		        {% endif %}
		        >{% trans 'S (Subscribe)' %}</option>
			  <option value="C"
			    {% if 'C' in policy.argument %}
			      selected="selected"
			    {% endif %}
			    >{% trans 'C (Clear subscription)' %}</option>
		      </select>
	      </div>
      </div>

      <div class="control-group filter" id="tpm-attestation">
	    <label class="control-label" for="attestation-flags">{% trans "TPM Attestation Flags" %}</label>
	    <div class="controls">
		  <select data-placeholder="Click to add an attestation flag..." id="attestation-flags" name="attestation-flags"
              multiple class="chzn-select-deselect" rel="tooltip"
		      title="{% trans 'B for BIOS measurements, I for IMA measurements, T for Trusted Boot' %}">
			<option value="B"
	          {% if 'B' in policy.argument %}
	            selected="selected"
	          {% endif %}
	          >{% trans 'B (BIOS)' %}</option>
			<option value="I"
			  {% if 'I' in policy.argument %}
			    selected="selected"
			  {% endif %}
			>{% trans 'I (IMA)' %}</option>
      <option value="T"
          {% if 'T' in policy.argument %}
              selected="selected"
          {% endif %}
          >{% trans 'T (Trusted Boot)' %}</option>
		   </select>
	      </div>
      </div>

	      <div class="control-group">
          <label class="control-label" for="fail">{% trans "Fail-Action" %}</label>
          <div class="controls">
            <select id="fail" name="fail" class="chzn-select" rel="tooltip"
              title="{% trans 'Recommendation when a client does not meet the policy requirement' %}">
              <option value="">{% trans 'Select one...' %}</option>
              {% for a in action %}
              <option value="{{forloop.counter0}}"
              {% if policy.fail == forloop.counter0 %}
              selected="selected"
              {% endif %}
              >{{ a }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="noresult">{% trans "Noresult-Action" %}</label>
          <div class="controls">
            <select id="noresult" name="noresult" class="chzn-select" rel="tooltip"
              title="{% trans 'Recommendation when the policy does not apply to the client' %}">
              <option value="">{% trans 'Select one...' %}</option>
              {% for a in action %}
              <option value="{{forloop.counter0}}"
              {% if policy.noresult == forloop.counter0 %}
              selected="selected"
              {% endif %}
              >{{ a }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

      <hr>

        <div class="btn-toolbar" style="margin: 0;">
          <div class="btn-group">
            <button class="btn btn-success" type="submit"><i class="icon-ok icon-white"></i> {%trans "Save" %}</button>
          </div><!-- /btn-group -->
          {% if policy.id %}
          <div class="btn-group">
            <a class="btn btn-danger" href="#delModal" data-toggle="modal"><i class="icon-remove icon-white"></i> Delete</a>
          </div><!-- /btn-group -->
          {% endif %}
        </div><!-- /btn-toolbar-->
      {% endif %}
      </form>

    </div><!--content-->
  </div><!--/row-->
</div>

<div id="delModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="deleteModalLabel">Are you sure to delete this policy?</h3>
  </div>
  <div class="modal-body">
    <h4>Warning</h4>
    <p>Are you sure you want to delete this policy?</p>
  </div>
  <form method="POST" action="/policies/{{ policy.id }}/delete" id="deleteform">
    {% csrf_token %}
  </form>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Cancel</a>
    <a class="btn btn-danger" onclick="deleteform.submit()" href="#">Delete policy</a>
  </div>
</div>
<script type="text/javascript">

$(document).ready(function () {
  type_change();
  $('#policyform').submit(function(){
    prepare_flags();
	  var $form = $(this);
	  $form.children('.filter:hidden').remove();
  });
});

var PolicyType = {
  PCKGS :  1,
  UNSRC :  2,
  FWDEN :  3,
  PWDEN :  4,
  FREFM :  5,
  FMEAS :  6,
  FMETA :  7,
  DREFM :  8,
  DMEAS :  9,
  DMETA : 10,
  TCPOP : 11,
  TCPBL : 12,
  UDPOP : 13,
  UDPBL : 14,
  SWIDT : 15,
  TPMRA : 16
};

function prepare_flags() {

  var $form = $('#policyform');
  var $hiddenFlagInput = $('<input />').attr('type', 'hidden').attr('name', 'flags').appendTo($form);
  var value = "";
  var type = $("select#type option:selected").attr("value");

  // swid-flags
  if (type == PolicyType.SWIDT) {
    value = $("#swid-flags").val().join(' ');
  }
  // attestation-flags
  if (type == PolicyType.TPMRA) {
    value = $("#attestation-flags").val().join(' ');
  }
  $hiddenFlagInput.val(value);

}

function type_change(){
  $(document.getElementById('file')).hide();
  $(document.getElementById('dir')).hide();
  $(document.getElementById('closed-port')).hide();
  $(document.getElementById('open-port')).hide();
  $(document.getElementById('swid-request')).hide();
  $(document.getElementById('tpm-attestation')).hide();

  var type = $("select#type option:selected").attr("value");

  if (type == PolicyType.FREFM || type == PolicyType.FMEAS || type == PolicyType.FMETA)
    $(document.getElementById('file')).show();
  else if (type == PolicyType.DREFM || type == PolicyType.DMEAS || type == PolicyType.DMETA)
    $(document.getElementById('dir')).show();
  else if (type == PolicyType.TCPOP || type == PolicyType.UDPOP)
    $(document.getElementById('closed-port')).show();
  else if (type == PolicyType.TCPBL || type == PolicyType.UDPBL)
    $(document.getElementById('open-port')).show();
  else if (type == PolicyType.SWIDT)
    $(document.getElementById('swid-request')).show();
  else if (type == PolicyType.TPMRA)
    $(document.getElementById('tpm-attestation')).show();
}

</script>
{% endblock %}


