
{% extends "tncapp/base.html" %}

{% load i18n %}
{% block title %}{%trans "Search Results" %}{% endblock %}

{% block hero %}
<h1>{%trans "Search Results" %}</h1>
{% endblock %}


{% block content %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <form class="form-search" action="/search" method="get">
          <input type="text" class="input search-query" name="q" value="{{ query }}" autofocus>
          <input type="submit" class="btn btn-small" value="Search">
        </form>
        
        <div class="accordion" id="accordion2">
          {% if groups %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                {{ group_title }}
                <span class="badge pull-right">{{ groups|length }}</span>
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
              <div class="accordion-inner">
                <p><small>Found <strong>{{ groups|length }}</strong> group{{ groups|pluralize }}.</small></p>
                <ul class="unstyled">
                  {% for group in groups %}
                  <li><a href="/groups/{{ group.id }}">{{ group }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}
          
          {% if policies %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                {{ policy_title }}
                <span class="badge pull-right">{{ policies|length }}</span>
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                <p><small>Found <strong>{{ policies|length }}</strong> policy{{ policies|pluralize }}.</small></p>
                <ul class="unstyled">
                  {% for policy in policies %}
                  <li><a href="/policies/{{ policy.id }}">{{ policy }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}
          
          {% if enforcements %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                {{ enforcement_title }}
                <span class="badge pull-right">{{ enforcements|length }}</span>
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                <p><small>Found <strong>{{ enforcements|length }}</strong> enforcement{{ enforcements|pluralize }}.</small></p>
                <ul class="unstyled">
                  {% for enforcement in enforcements %}
                  <li><a href="/enforcements/{{ enforcement.id }}">{{ enforcement }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}
        
          {% if devices %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                {{ device_title }}
                <span class="badge pull-right">{{ devices|length }}</span>
              </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
              <div class="accordion-inner">
                <p><small>Found <strong>{{ devices|length }}</strong> device{{ devices|pluralize }}.</small></p>
                <ul class="unstyled">
                  {% for device in devices %}
                  <li><a href="/devices/{{ device.id }}">{{ device }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}

          {% if packages %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                {{ package_title }}
                <span class="badge pull-right">{{ packages|length }}</span>
              </a>
            </div>
            <div id="collapseFive" class="accordion-body collapse">
              <div class="accordion-inner">
                <p><small>Found <strong>{{ packages|length }}</strong> package{{ packages|pluralize }}.</small></p>
                <ul class="unstyled">
                  {% for package in packages %}
                  <li><a href="/packages/{{ package.id }}">{{ package }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}
          
          {% if products %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                {{ product_title }}
                <span class="badge pull-right">{{ products|length }}</span>
              </a>
            </div>
            <div id="collapseSix" class="accordion-body collapse">
              <div class="accordion-inner">
                <p><small>Found <strong>{{ products|length }}</strong> product{{ products|pluralize }}.</small></p>
                <ul class="unstyled">
                  {% for product in products %}
                  <li><a href="/products/{{ product.id }}">{{ product }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}
          
          {% if files %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
                {{ file_title }}
                <span class="badge pull-right">{{ files|length }}</span>
              </a>
            </div>
            <div id="collapseSeven" class="accordion-body collapse">
              <div class="accordion-inner">
                <p><small>Found <strong>{{ files|length }}</strong> file{{ files|pluralize }}.</small></p>
                <ul class="unstyled">
                  {% for file in files %}
                  <li><a href="/files/{{ file.id }}">{{ file }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}          
          
        </div>
        
        {% if not groups and not policies and not enforcements and not devices and not packages and not products and not files %}
        <p class="text-error">No results matched your search criteria.</p>
        {% endif %}
 
      </div><!--/span-->
    </div><!--/row-->
  </div><!--/container-->
{% endblock %}