
{% extends "tncapp/base.html" %}

{% load i18n %}
{% block title %}{{title}}{% endblock %}

{% block hero %}
<h1>{{ title }}</h1>
{% endblock %}


{% block content %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span5" id="line">
		<h4>{% trans "Tag" %}</h4>
		<hr>
		<div class="row-fluid">
		  {% if count > 0 %}
		  <form class="form-search pull-center" action="/tags/search" method="get">
			<div class="input-append">
			  <input type="text" class="input input-small search-query" name="q" placeholder="Filter" value="{{ query }}" autofocus>
			  <button type="submit" class="btn"><i class="icon-search"></i></button>
			</div>
		  </form>
		  {% endif %}
		  {% if tag|length >= 50 %}
		  {% if tags.paginator.num_pages > 1 %}
		  <div class="pagination pagination-mini pagination-centered">
			<ul>
			  {% if tags.has_previous %}
			  <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ tags.previous_page_number }}">&laquo;</a></li>
			  {% else %}
			  <li class="disabled"><a href="">&laquo;</a></li>
			  {% endif %}
			  <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ tags.number }}">Page {{ tags.number }} of {{ tags.paginator.num_pages }}</a></li>
			  {% if tags.has_next %}
			  <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ tags.next_page_number }}">&raquo;</a></li>
			  {% else %}
			  <li class="disabled"><a href="">&raquo;</a></li>
			  {% endif %}
			</ul>
		  </div>
		  {% endif %}
		  {% endif %}
		</div>
		{% if tags %}
		<table class="table table-hover">
		  <tbody>
			{% for f in tags %}
			<tr><td><a href="/tags/{{ f.id }}">{{ f }}</a></td></tr>
			{% endfor %}
		  </tbody>
		</table>
		{% elif count == 0 %}
	  <p><small>There are no entries.</small></p>
      {% elif query %}
	  <p><small>No tags matched your search criteria.</small></p>
	  {% endif %}
	</div>
      
    <div class="span7" id="content">
	{% if tag %}
	<h4>Tag Info</h4>
	<form class="form-horizontal" method="POST" action="/tags/save" id="tagform">
	  {% csrf_token %}

	<div class="control-group">
	  <label class="control-label" for="name">Name</label>    
	  <div class="controls controls-row">
	    <label class="help-inline" style="margin-bottom: -5px"><strong>{{ tag.directory }}/{{ tag.name }}</strong></label>
	  </div>
	</div>
    
	<hr>
	    
	<div class="btn-toolbar" style="margin: 0;">
	  {% if tag.id %}
          <div class="btn-group">
	    <a class="btn btn-danger" href="#delModal" data-toggle="modal"><i class="icon-remove icon-white"></i> {%trans "Delete" %}</a>
	  </div><!-- /btn-group -->
	</div><!-- /btn-toolbar-->
	{% endif %}

	<hr>
	    
  </form>

{% endif %}

<div id="delModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="deleteModalLabel">Are you sure to delete this tag?</h3>
  </div>
  <div class="modal-body">
    <h4>Warning</h4>
    <p>Are you sure to delete this tag?</p>
  </div>
  <form method="POST" action="/tags/{{ tag.id }}/delete" id="deleteform">
    {% csrf_token %}
  </form>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Cancel</a>
    <a class="btn btn-danger" onclick="deleteform.submit()" href="#">Delete tag</a>
  </div>
</div>

<div id="delHashModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="deleteModalLabel">Are you sure to delete this hash?</h3>
  </div>
  <div class="modal-body">
    <h4>Warning</h4>
    <p>Are you sure to delete this hash?</p>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Cancel</a>
    <a class="btn btn-danger" href="/tag_hashes/{{ h.id }}/delete">Delete hash</a>
  </div>
</div>

</div><!--content-->
    </div><!--/row-->
  </div>

{% endblock %}


