{% extends "front/base.html" %}

{% load i18n %}
{% load permissions %}
{% load paged_block %}

{% block title %}{{ title }}{% endblock %}

{% block hero %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="line">
                <h4>{% trans "Directory" %}
                    {% if 'auth.write_access' in perms %}
                        <div class="pull-right">
                            <a class="btn btn-primary btn-xs" href="{% url 'filesystem:directory_add' %}"
                               rel="tooltip" title="add new">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </a>
                        </div>
                    {% endif %}
                </h4>
                <hr>
                {% paged_block config_name="dir_list_config" with_filter=True %}
            </div>

            <div class="col-md-9" id="content">
                {% if directory %}
                    <form class="form-horizontal" method="POST" action="{% url 'filesystem:directory_save' %}" id="directoryform">
                        {% csrf_token %}
                        <input type="hidden" id="directoryId" name="directoryId" value="{{ directory.id }}"/>
                        {% if add %}
                            <h3>{% trans 'Add new directory' %}</h3>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id">{% trans "Path" %}</label>

                                <div class="col-sm-4">
                                    <input type="text" id="path" name="path" placeholder="{% trans 'Path' %}"
                                           rel="tooltip" class="form-control"
                                           title="{% trans 'Directory path' %}"
                                           value="{{ directory.path }}"
                                           {% input_editability %}>
                                </div>
                            </div>
                        {% else %}
                            <h3>{% trans 'Directory info:' %} {{ directory.path }}</h3>
                        {% endif %}

                        {% if 'auth.write_access' in perms %}
                            <div class="btn-toolbar">
                                {% if add %}
                                    <div class="btn-group">
                                        <button class="btn btn-success" type="submit">
                                            <i class="glyphicon glyphicon-ok"></i> {% trans "Save" %}</button>
                                    </div>
                                {% endif %}
                                {% if directory.id %}
                                    <div class="btn-group">
                                        <a class="btn btn-danger" href="#delModal" data-toggle="modal"><i
                                            class="glyphicon glyphicon-remove"></i> {% trans "Delete" %}</a>
                                    </div>
                                {% endif %}
                            </div>

                        {% endif %}
                    </form>

                    {% if not add %}
                        <hr>

                        <h4>Files</h4>
                        {% paged_block config_name='dir_file_list_config' producer_args=paging_params with_filter=True %}
                    {% endif %}
                {% endif %}
                {% if directory.pk %}
                    <div id="delModal" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h3 id="deleteModalLabel">{% trans 'Are you sure that you want to delete this directory?' %}</h3>
                                </div>
                                <div class="modal-body">
                                    {% if has_dependencies %}
                                        <h4>{% trans 'This directory has dependent entites!' %}</h4>
                                        <p>
                                            {% blocktrans %}
                                                If you delete this directory, all related files, policies and enforcements will
                                                be irrecoverably deleted. Do you really want to proceed? <br/>
                                                You are going to delete:
                                            {% endblocktrans %}
                                        </p>
                                        <div class="panel-group" id="accordion2">
                                            {% if files %}
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <a data-toggle="collapse"
                                                           data-parent="#accordion2" href="#collapse1">
                                                            Files <span class="badge pull-right">{{ files|length }}</span>
                                                        </a>
                                                    </div>
                                                    <div id="collapse1" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="list-unstyled">
                                                                {% for file in files %}
                                                                    <li><a
                                                                        href="{% url 'filesystem:file_detail' file.pk %}">{{ file }}</a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if policies %}
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <a data-toggle="collapse"
                                                           data-parent="#accordion2" href="#collapse2">
                                                            Policies <span class="badge pull-right">{{ policies|length }}</span>
                                                        </a>
                                                    </div>
                                                    <div id="collapse2" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="list-unstyled">
                                                                {% for policy in policies %}
                                                                    <li><a
                                                                        href="{% url 'policies:policy_detail' policy.pk %}">{{ policy }}</a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if enforcements %}
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <a data-toggle="collapse"
                                                           data-parent="#accordion2" href="#collapse3">
                                                            Enforcements <span
                                                            class="badge pull-right">{{ enforcements|length }}</span>
                                                        </a>
                                                    </div>
                                                    <div id="collapse3" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="list-unstyled">
                                                                {% for enforcement in enforcements %}
                                                                    <li><a
                                                                        href="{% url 'policies:enforcement_detail' enforcement.pk %}">{{ enforcement }}</a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="sure" id="sure" onclick=""/>
                                                {% trans 'I still want to delete' %}
                                            </label>
                                        </div>
                                    {% else %}
                                        <h4>{% trans 'Warning' %}</h4>
                                        <p>{% trans 'Are you sure that you want to delete this directory?' %}</p>
                                    {% endif %}
                                </div>
                                <form method="POST" action="{% url 'filesystem:directory_delete' directory.pk %}"
                                      id="deleteform">
                                    {% csrf_token %}
                                </form>
                                <div class="modal-footer">
                                    {% if has_dependencies %}
                                        <a class="btn btn-danger" disabled id="deleteButton" href="#"><i
                                            class="glyphicon glyphicon-fire"></i> {% trans "Delete anyway!" %}</a>
                                        <a class="btn btn-success" data-dismiss="modal">{% trans 'Cancel' %}</a>
                                    {% else %}
                                        <a class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</a>
                                        <a class="btn btn-danger" onclick="deleteform.submit()"
                                           href="#">{% trans 'Delete directory' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
        </div>
    </div>
    </div>
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/directories.js"></script>
{% endblock %}
