{% extends "front/base.html" %}

{% load i18n %}
{% load permissions %}
{% load paged_block %}

{% block title %}{{ title }}{% endblock %}

{% block hero %}
    <h1>{{ title }}</h1>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="line">
                <h4>{% trans "File" %}
                {% if 'auth.write_access' in perms %}
                    <div class="pull-right">
                        <a class="btn btn-primary btn-xs" href="{% url 'filesystem:file_add' %}"
                           rel="tooltip" title="add new">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </a>
                    </div>
                {% endif %}
                </h4>
                <hr>
                {% paged_block config_name='file_list_config' with_filter=True %}
            </div>

            <div class="col-md-9" id="content">
                {% if file %}
                    <form class="form-horizontal" method="POST" action="{% url 'filesystem:file_save' %}" id="fileform">
                        {% csrf_token %}
                        <input type="hidden" id="fileId" name="fileId" value="{{ file.id }}"/>
                        {% if add %}
                            <h3>{% trans 'Add new file' %}</h3>
                            <div class="form-group">

                                <label class="control-label col-sm-2" for="dir">{% trans "Directory" %}</label>

                                <div class="col-sm-4">
                                    <input type="hidden" id="dir" name="dir" class="slct2-autocomplete"
                                           rel="tooltip"
                                           placeholder="{% trans 'Choose directory' %}"
                                           {% input_editability %} />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="name">{% trans "File name" %}</label>

                                <div class="col-sm-4">
                                    <input type="text" id="name" name="name" placeholder="{% trans 'File name' %}"
                                           rel="tooltip" class="form-control"
                                           title="{% trans 'File name' %}"
                                           value="{{ file.name }}" {% input_editability %}>
                                </div>
                            </div>
                        {% else %}
                            <h3>{% trans 'File info:' %} {{ file }}</h3>
                        {% endif %}

                        {% if 'auth.write_access' in perms %}
                            <div class="btn-toolbar">
                                {% if add %}
                                    <div class="btn-group">
                                        <button class="btn btn-success" type="submit">
                                            <i class="glyphicon glyphicon-ok"></i> {% trans "Save" %}</button>
                                    </div>
                                {% else %}
                                    <div class="btn-group">
                                        <a class="btn btn-danger" href="#delModal" data-toggle="modal"><i
                                            class="glyphicon glyphicon-remove"></i> {% trans "Delete" %}</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if not add %}
                            <hr>

                            <h4>File Size and Hashes</h4>
                            {% if file_hashes %}
                                <table id="versions" class="table table-hover table-striped sortable">
                                    <thead>
                                    <tr>
                                        <th>{% trans 'Product' %}</th>
                                        <th>{% trans 'Version' %}</th>
                                        <th>{% trans 'Size' %}</th>
                                        <th>{% trans 'Algo' %}</th>
                                        <th>{% trans 'Hash' %}</th>
                                        {% if 'auth.write_access' in perms %}
                                            <th class="sorter-false">&nbsp;</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for h in file_hashes %}
                                        <tr>
                                            <td>{{ h.version.product }}</td>
                                            <td>{{ h.version.release|default_if_none:"&nbsp;" }}</td>
                                            <td>{{ h.size|default_if_none:"&nbsp;" }}</td>
                                            <td>{{ h.algorithm }}</td>
                                            <td title="{{ h.hash }}">
                                                {% if h.mutable %}
                                                    <font color="purple">
                                                {% else %}
                                                    <font color="black">
                                                {% endif %}
                                                {{ h.hash|truncatechars:40 }}</font>
                                            </td>
                                            {% if 'auth.write_access' in perms %}
                                                <td>
                                                    <a class="btn btn-danger btn-xs"
                                                       href="{% url 'filesystem:filehash_delete' h.pk %}"
                                                   data-toggle="modal"><i class="glyphicon glyphicon-remove"></i></a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>{% trans 'This file has no associated file hashes.' %}</p>
                            {% endif %}
                        {% endif %}
                    </form>

                {% endif %}

                {% if file.pk %}
                    <hr />
                    <h5>{% trans 'File appears in the following SWID tags' %}</h5>
                    {% if swid_tags %}
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>{% trans 'Tag ID' %}</th>
                                <th>{% trans 'Package name' %}</th>
                                <th>&nbsp; &nbsp;{% trans 'Version' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for tag in swid_tags %}
                                <tr>
                                    <td><a href="{% url 'swid:tag_detail' tag.pk %}">{{ tag.list_repr }}</a></td>
                                    <td>
                                        {% if tag.get_matching_packages %}
                                            <a href="{% url 'packages:package_detail' tag.get_matching_packages.0.pk %}">
                                                {{ tag.package_name }}
                                            </a>
                                        {% else %}
                                            {{ tag.package_name }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if tag.version %}
                                            {% if tag.version.security %}
                                                <i class="glyphicon glyphicon-ban-circle text-danger" rel="tooltip" title="vulnerable"></i>
                                            {% else %}
                                                <i class="glyphicon glyphicon-ok-circle text-success" rel="tooltip" title="ok"></i>
                                            {% endif %}
                                        {% else %}
                                            &nbsp; &nbsp;
                                        {% endif %}
                                        {{ tag.version_str }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>
                            {% trans "This file hasn't any connected SWID tags" %}
                        </p>
                    {% endif %}
                {% endif %}

                {% if 'auth.write_access' in perms %}

                    {% if file.pk %}
                        <div id="delModal" class="modal fade" tabindex="-1" role="dialog"
                             aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h3 id="deleteModalLabel">{% trans 'Are you sure that you want to delete this file?' %}</h3>
                                    </div>
                                    <div class="modal-body">
                                        {% if has_dependencies %}
                                            <h4>{% trans 'This file has dependent entites!' %}</h4>
                                            <p>
                                                {% blocktrans %}
                                                    If you delete this file, all related hashes, policies and enforcements will
                                                    be irrecoverably deleted. Do you really want to proceed? <br/>
                                                    You are going to delete:
                                                {% endblocktrans %}
                                            </p>
                                            <div class="panel-group" id="accordion2">
                                                {% if file_hashes %}
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <a data-toggle="collapse"
                                                               data-parent="#accordion2" href="#collapse1">
                                                                Hashes <span class="badge pull-right">{{ file_hashes|length }}</span>
                                                            </a>
                                                        </div>
                                                        <div id="collapse1" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <ul class="list-unstyled">
                                                                    {% for hash in file_hashes %}
                                                                        <li>
                                                                            {{ hash.list_repr }}
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if policies %}
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <a data-toggle="collapse"
                                                               data-parent="#accordion2" href="#collapse2">
                                                                Policies <span class="badge pull-right">{{ policies|length }}</span>
                                                            </a>
                                                        </div>
                                                        <div id="collapse2" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <ul class="list-unstyled">
                                                                    {% for policy in policies %}
                                                                        <li><a
                                                                            href="{% url 'policies:policy_detail' policy.pk %}">{{ policy }}</a>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if enforcements %}
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <a data-toggle="collapse"
                                                               data-parent="#accordion2" href="#collapse3">
                                                                Enforcements <span
                                                                class="badge pull-right">{{ enforcements|length }}</span>
                                                            </a>
                                                        </div>
                                                        <div id="collapse3" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <ul class="list-unstyled">
                                                                    {% for enforcement in enforcements %}
                                                                        <li><a
                                                                            href="{% url 'policies:enforcement_detail' enforcement.pk %}">{{ enforcement }}</a>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="sure" id="sure" onclick=""/>
                                                    {% trans 'I still want to delete' %}
                                                </label>
                                            </div>
                                        {% else %}
                                            <h4>{% trans 'Warning' %}</h4>
                                            <p>{% trans 'Are you sure that you want to delete this file?' %}</p>
                                        {% endif %}
                                    </div>
                                    <form method="POST" action="{% url 'filesystem:file_delete' file.pk %}"
                                          id="deleteform">
                                        {% csrf_token %}
                                    </form>
                                    <div class="modal-footer">
                                        {% if has_dependencies %}
                                            <a class="btn btn-danger" disabled id="deleteButton" href="#"><i
                                                class="glyphicon glyphicon-fire"></i> {% trans "Delete anyway!" %}</a>
                                            <a class="btn btn-success" data-dismiss="modal">{% trans 'Cancel' %}</a>
                                        {% else %}
                                            <a class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</a>
                                            <a class="btn btn-danger" onclick="deleteform.submit()"
                                               href="#">{% trans 'Delete file' %}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/files.js"></script>
    <script>
        $(function() {
            setupDirectoryDropdown('{% url 'filesystem:directory_autocomplete' %}');
            initValidation();
        });
    </script>
{% endblock %}
