{% extends "front/base.html" %}

{% load i18n %}
{% load permissions %}
{% load paged_block %}

{% block title %}{{ title }}{% endblock %}

{% block hero %}
    <h1>{{ title }}</h1>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="line">
                <h4>{% trans "Policy" %}
                    {% if 'auth.write_access' in perms %}
                        <div class="pull-right">
                            <a class="btn btn-primary btn-xs" href="{% url 'policies:policy_add' %}"
                               rel="tooltip" title="add new">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </a>
                        </div>
                    {% endif %}
                </h4>
                <hr>
                {% paged_block config_name="policy_list_config" with_filter=True %}
            </div>

            <div class="col-md-9" id="content">
                {% if policy %}
                    <h4>{% trans "Policy Info" %}</h4>
                    <form class="form-horizontal" method="POST" action="{% url 'policies:policy_save' %}"
                          id="policyform">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id">{% trans "Name" %}</label>

                            <div class="col-sm-4">
                                <input type="hidden" id="policyId" name="policyId" value="{{ policy.id }}"/>
                                <input type="text" id="name" name="name" placeholder="{% trans 'Name' %}"
                                       rel="tooltip" title="{% trans 'Policy Name' %}" class="form-control"
                                       value="{{ policy.name }}" {% input_editability %}>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="type">{% trans "Type" %}</label>

                            <div class="col-sm-4">
                                <select id="type" name="type" class="slct2-dropdown" rel="tooltip"
                                        title="{% trans 'Policy Type' %}" {% input_editability %}>
                                    <option value="-1">{% trans 'Choose type' %}</option>
                                    {% for t in types %}
                                        <option value="{{ forloop.counter0 }}"
                                            {% if policy.type == forloop.counter0 %}
                                                selected {% endif %}>{{ t }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group collapse" id="file-container">
                            <label class="control-label col-sm-2" for="file">{% trans "File" %}</label>

                            <div class="col-sm-4">
                                <input type="hidden" id="file" name="file" class="slct2-autocomplete"
                                       placeholder="{% trans 'Choose file' %}"
                                       value="{% if file %}{{ file.id }}{% endif %}" {% input_editability %} />
                            </div>
                        </div>

                        <div class="form-group collapse" id="dir-container">
                            <label class="control-label col-sm-2" for="dir">{% trans "Directory" %}</label>

                            <div class="col-sm-4">
                                <input type="hidden" id="dir" name="dir" class="slct2-autocomplete"
                                       value="{% if dir %}{{ dir.id }}{% endif %}"
                                       rel="tooltip"
                                       placeholder="{% trans 'Choose directory' %}"
                                       title="{% trans 'Directory to check' %}"
                                    {% input_editability %} />
                            </div>
                        </div>

                        <div class="form-group filter collapse" id="port-container">
                            <label class="control-label col-sm-2 collapse" id="open-port-label"
                                   for="range">{% trans "All ports open except" %}</label>
                            <label class="control-label col-sm-2 collapse" id="closed-port-label"
                                   for="range">{% trans "All ports closed except" %}</label>

                            <div class="col-sm-4">
                                <input type="text" id="range" name="range" placeholder="{% trans 'Port Range' %}"
                                       rel="tooltip" class="form-control"
                                       title="{% trans 'Whitespace separated range(s) of ports, f.e: 5 10-1024 2450-4000' %}"
                                       value="{{ policy.argument|default:'' }}" {% input_editability %}>
                            </div>
                        </div>

                        <div class="form-group filter collapse" id="swid-request">
                            <label class="control-label col-sm-2" for="swidflags">{% trans "SWID Request Flags" %}</label>

                            <div class="col-sm-4">
                                <select data-placeholder="Click to add a SWID flag.." id="swidflags" name="swidflags"
                                        multiple class="slct2-dropdown" rel="tooltip"
                                        title="{% trans 'R for Tag IDs only, S for Subscribe, C for Clear subscription' %}"
                                    {% input_editability %}>
                                    <option value="R"
                                        {% if 'R' in policy.argument %}
                                            selected="selected"
                                        {% endif %}
                                        >{% trans 'R (Tag IDs only)' %}</option>
                                    <option value="S"
                                        {% if 'S' in policy.argument %}
                                            selected="selected"
                                        {% endif %}
                                        >{% trans 'S (Subscribe)' %}</option>
                                    <option value="C"
                                        {% if 'C' in policy.argument %}
                                            selected="selected"
                                        {% endif %}
                                        >{% trans 'C (Clear subscription)' %}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group filter collapse" id="tpm-attestation">
                            <label class="control-label col-sm-2" for="attestationflags">{% trans "TPM Attestation Flags" %}</label>

                            <div class="col-sm-4">
                                <select data-placeholder="Click to add an attestation flag..." id="attestationflags"
                                        name="attestationflags"
                                        multiple class="slct2-dropdown" rel="tooltip"
                                        title="{% trans 'B for BIOS measurements, I for IMA measurements, T for Trusted Boot' %}" {% input_editability %}>
                                    <option value="B"
                                        {% if 'B' in policy.argument %}
                                            selected="selected"
                                        {% endif %}
                                        >{% trans 'B (BIOS)' %}</option>
                                    <option value="I"
                                        {% if 'I' in policy.argument %}
                                            selected="selected"
                                        {% endif %}
                                        >{% trans 'I (IMA)' %}</option>
                                    <option value="T"
                                        {% if 'T' in policy.argument %}
                                            selected="selected"
                                        {% endif %}
                                        >{% trans 'T (Trusted Boot)' %}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="fail">{% trans "Fail-Action" %}</label>

                            <div class="col-sm-4">
                                <select id="fail" name="fail" class="slct2-dropdown" rel="tooltip"
                                        title="{% trans 'Recommendation when a client does not meet the policy requirement' %}" {% input_editability %}>
                                    <option value="">{% trans 'Choose action' %}</option>
                                    {% for a in action %}
                                        <option value="{{ forloop.counter0 }}"
                                            {% if policy.fail == forloop.counter0 %}
                                                selected="selected"
                                            {% endif %}>{{ a }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="noresult">{% trans "Noresult-Action" %}</label>

                            <div class="col-sm-4">
                                <select id="noresult" name="noresult" class="slct2-dropdown" rel="tooltip"
                                        title="{% trans 'Recommendation when the policy does not apply to the client' %}" {% input_editability %}>
                                    <option value="">{% trans 'Choose action' %}</option>
                                    {% for a in action %}
                                        <option value="{{ forloop.counter0 }}"
                                            {% if policy.noresult == forloop.counter0 %}
                                                selected="selected"
                                            {% endif %}>{{ a }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        {% if 'auth.write_access' in perms %}
                            <hr>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <a class="btn btn-success" href="#" id="savePolicyButton">
                                        <i class="glyphicon glyphicon-ok"></i> {% trans "Save" %}
                                    </a>
                                </div>
                                {% if policy.id %}
                                    <div class="btn-group">
                                        <a class="btn btn-danger" href="#delModal" data-toggle="modal">
                                            <i class="glyphicon glyphicon-remove"></i> {% trans 'Delete' %}
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </form>
                {% endif %}

                {% if policy.pk %}
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <h5>{% trans 'Applying enforcements' %}</h5>
                            {% if enforcements %}
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>{% trans 'Enforcement name' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for enf in enforcements %}
                                        <tr>
                                            <td><a href="{% url 'policies:enforcement_detail' enf.pk %}">{{ enf.list_repr }}</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>{% trans 'This policy is not applied by any ' %}<a href="{% url 'policies:enforcement_list' %}">{% trans 'enforcement' %}</a></p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if policy.pk %}
        <div id="delModal" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 id="deleteModalLabel">{% trans 'Are you sure that you want to delete this policy?' %}</h3>
                    </div>
                    <div class="modal-body">
                        {% if has_dependencies %}
                            <h4>{% trans 'This policy has dependent entites!' %}</h4>
                            <p>
                                {% blocktrans %}
                                    If you delete this policy, all related enforcements will
                                    be irrecoverably deleted. Do you really want to proceed? <br/>
                                    You are going to delete:
                                {% endblocktrans %}
                            </p>
                            <div class="panel-group" id="accordion2">
                                {% if enforcements %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse"
                                               data-parent="#accordion2" href="#collapse3">
                                                Enforcements <span
                                                class="badge pull-right">{{ enforcements|length }}</span>
                                            </a>
                                        </div>
                                        <div id="collapse3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul class="list-unstyled">
                                                    {% for enforcement in enforcements %}
                                                        <li><a
                                                            href="{% url 'policies:enforcement_detail' enforcement.pk %}">{{ enforcement }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="sure" id="sure" onclick=""/>
                                    {% trans 'I still want to delete' %}
                                </label>
                            </div>
                        {% else %}
                            <h4>{% trans 'Warning' %}</h4>
                            <p>{% trans 'Are you sure that you want to delete this policy?' %}</p>
                        {% endif %}
                    </div>
                    <form method="POST" action="{% url 'policies:policy_delete' policy.pk %}"
                          id="deleteform">
                        {% csrf_token %}
                    </form>
                    <div class="modal-footer">
                        {% if has_dependencies %}
                            <a class="btn btn-danger" disabled id="deleteButton" href="#"><i
                                class="glyphicon glyphicon-fire"></i> {% trans "Delete anyway!" %}</a>
                            <a class="btn btn-success" data-dismiss="modal">{% trans 'Cancel' %}</a>
                        {% else %}
                            <a class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</a>
                            <a class="btn btn-danger" onclick="deleteform.submit()"
                               href="#">{% trans 'Delete policy' %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function () {

            $('input#file').select2({
                minimumInputLength: 3,
                {% if file %}
                    initSelection: function (element, callback) {
                        var data = {"file": "{{ file.directory }}/{{ file.name }}", "id": "{{ file.id }}"};
                        callback(data);
                    },
                {% endif %}
                formatSelection: function (o) {
                    return o.file
                },
                formatResult: function (o) {
                    return o.file
                },
                query: function (query) {
                    autocompleteDelay.ajaxUrl = '{% url 'filesystem:file_autocomplete' %}';
                    autocompleteDelay.callback = query.callback;
                    autocompleteDelay.errorCallback = function() {
                        alert('Error: Could not fetch file list.');
                    };
                    autocompleteDelay.queryUpdate(query.term);
                }
            });
            $('input#dir').select2({
                minimumInputLength: 3,
                {% if dir %}
                    initSelection: function (element, callback) {
                        var data = {"directory": "{{ dir.path }}", "id": "{{ dir.id }}"};
                        callback(data);
                    },
                {% endif %}
                formatSelection: function (o) {
                    return o.directory
                },
                formatResult: function (o) {
                    return o.directory
                },
                query: function (query) {
                    autocompleteDelay.ajaxUrl = '{% url 'filesystem:directory_autocomplete' %}';
                    autocompleteDelay.callback = query.callback;
                    autocompleteDelay.errorCallback = function() {
                        alert('Error: Could not fetch directory list.');
                    };
                    autocompleteDelay.queryUpdate(query.term);
                }
            });
        });
    </script>
{% endblock %}
{% block footer_js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/policies.js"></script>
{% endblock %}
