
{% extends "cygapp/base.html" %}

{% load i18n %}
{% block title %}{{title}}{% endblock %}

{% block hero %}
<h1>{{ title }}</h1>
{% endblock %}


{% block content %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3" id="line">
      <h4>{% trans "Device" %}
	<div class="pull-right">
	  <a class="btn btn-primary btn-mini" href="/devices/add"
	  value="addNew" rel="tooltip" title="add new">
	    <i class="icon-plus-sign icon-white"></i>
	  </a>
	</div>
      </h4>
      <hr>
      <div class="row-fluid">
      	{% if count > 0 %}
	<form class="form-search pull-center" action="/devices/search" method="get">
	  <div class="input-append">
	    <input type="text" class="input input-small search-query" name="q" placeholder="Filter" value="{{ query }}" autofocus>
	    <button type="submit" class="btn"><i class="icon-search"></i></button>
	  </div>
	</form>
	{% endif %}
	{% if device|length >= 50 %}
        {% if devices.paginator.num_pages > 1 %}
	<div class="pagination pagination-mini pagination-centered">
	  <ul>
	    {% if devices.has_previous %}
	    <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ devices.previous_page_number }}">&laquo;</a></li>
	    {% else %}
	    <li class="disabled"><a href="">&laquo;</a></li>
	    {% endif %}
	    <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ devices.number }}">Page {{ packages.number }} of {{ packages.paginator.num_pages }}</a></li>
	    {% if devices.has_next %}
	    <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ devices.next_page_number }}">&raquo;</a></li>
	    {% else %}
	    <li class="disabled"><a href="">&raquo;</a></li>
	    {% endif %}
	  </ul>
	</div>
	{% endif %}
	{% endif %}
      </div>
      {% if devices %}
      <table class="table table-hover">
        <tbody>
        {% for d in devices %}
          <tr><td><a href=/devices/{{ d.id }}>{{ d }}</a></td></tr>
        {% endfor %}
        </tbody>
      </table>
      {% elif count == 0 %}
    <p><small>There are no entries.</small></p>
      {% elif query %}
    <p><small>No devices matched your search criteria.</small></p>
    {% endif %}    
    </div>
      
      <div class="span9" id="content">
    {% if device %}
	<h4>Device Info</h4>
  <form class="form-horizontal" method="POST" action="/devices/save" id="deviceform">
    {% csrf_token %}

    <div class="control-group">
      <label class="control-label" for="id">{% trans "ID" %}</label>
      <div class="controls">
        <input type="hidden" name="deviceId" value="{{device.id}}" />
        <input type="text" id="value" name="value" placeholder="{% trans 'ID' %}" rel="tooltip" title="{% trans 'Device ID' %}"
        value="{{ device.value }}">
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="description">{% trans "Description" %}</label> 
      <div class="controls">   
        <input type="text" id="description" name="description"
          placeholder="{% trans 'Description'%}" rel="tooltip" title="{% trans 'Device description' %}"
          value="{{ device.description }}">
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="product">{% trans "Product" %}</label> 
      <div class="controls">   
        <select type="text" id="product" name="product" class="chzn-select" placeholder="{% trans "Product" %}" rel="tooltip"
          title="{% trans 'Device product (operating system)' %}">
          <option value="">{% trans "Select one..." %}</option>
          {% for p in products %}
            <option value="{{ p.id }}"
              {% if p.id == device.product.id %}
                selected="selected"
              {% endif %}
            >{{ p }}</option>
          {% endfor %}
        </select>
      </div>  
    </div>
    
    <hr>
    
    <h4>{% trans "Assign Groups" %}
      <a class="btn-small" href="#" rel="tooltip"
      title="{% trans 'When the device is member of a group, all policies enforced on the group are applied to the device upon login' %}"><i class="icon-info-sign"></i></a>
    </h4>
    
    <div class="control-group">
      <label class="control-label" for="groupselect">{% trans "Groups" %}</label> 
      <div class="controls"> 
	<select data-placeholder="Click to add a group..." id="group_select2" multiple class="chzn-select-deselect" tabindex="8"
	rel="tooltip" title="{% trans 'Click into the field to add groups or close them to remove.' %}">
	  {% for g in groups %}
	  <option value="{{ g.id }}">{{ g }}</option>
	  {% endfor %}
	  {% for m in members %}
	  <option selected value="{{ m.id }}">{{ m }}</option>
	  {% endfor %}
	</select>
      </div>
    </div>
        
    <hr>
  
    <div class="btn-toolbar" style="margin: 0;">
      <div class="btn-group">
	<button class="btn btn-success" type="submit" onclick="save_device()"><i class="icon-ok icon-white"></i> {%trans "Save" %}</button>
      </div><!-- /btn-group -->
      {% if device.id %}
      <div class="btn-group">
	<a class="btn btn-danger" href="#delModal" data-toggle="modal"><i class="icon-remove icon-white"></i> {%trans "Delete" %}</a>
      </div><!-- /btn-group -->
      <div class="btn-group">
	<a href="/devices/{{ device.id }}/report" class="btn btn-primary"><i class="icon-file icon-white"></i> {%trans "View device report"%}</a>
      </div>
      {% endif %}
    </div><!-- /btn-toolbar-->
    {% endif %}
  </form>

  <div id="delModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="deleteModalLabel">Are you sure to delete this device?</h3>
    </div>
    <div class="modal-body">
      <h4>Warning</h4>
      <p>If you remove this device, it will appear in the list with default settings.</p>
    </div>
    <form method="POST" action="/devices/{{ device.id }}/delete" id="deleteform">
      {% csrf_token %}
    </form>
    <div class="modal-footer">
      <a class="btn" data-dismiss="modal">Cancel</a>
      <a class="btn btn-danger" onclick="deleteform.submit()" href="#">Delete device</a>
    </div>
  </div>

</div><!--content-->
    </div><!--/row-->
  </div>
  <script type="text/javascript">
    function save_device(){
      $('<input />').attr('type', 'hidden').attr('name', 'memberlist').attr('value',
          $("#group_select2 option:selected").map(function() {
            return this.value;
            }).get().join()).appendTo("#deviceform")
    }
  </script>
{% endblock %}


