
{% extends "cygapp/base.html" %}

{% load i18n %}
{% block title %}{{title}}{% endblock %}

{% block hero %}
<h1>{{ title }}</h1>
{% endblock %}


{% block content %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3" id="line">
      <h4>{% trans "Enforcement" %}
	<div class="pull-right">
	  <a class="btn btn-primary btn-mini" href="/enforcements/add"
	  value="addNew" rel="tooltip" title="add new">
	    <i class="icon-plus-sign icon-white"></i>
	  </a>
	</div>
      </h4>
      <hr>
      <div class="row-fluid">
      	{% if count > 0 %}
	<form class="form-search pull-center" action="/enforcements/search" method="get">
	  <div class="input-append">
	    <input type="text" class="input input-small search-query" name="q" placeholder="Filter" value="{{ query }}" autofocus>
	    <button type="submit" class="btn"><i class="icon-search"></i></button>
	  </div>
	</form>
	{% endif %}
	{% if enforcement|length >= 50 %}
	{% if enforcements.paginator.num_pages > 1 %}
	<div class="pagination pagination-mini pagination-centered">
	  <ul>
	    {% if enforcements.has_previous %}
	    <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ enforcements.previous_page_number }}">&laquo;</a></li>
	    {% else %}
	    <li class="disabled"><a href="">&laquo;</a></li>
	    {% endif %}
	    <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ enforcements.number }}">Page {{ enforcements.number }} of {{ enforcements.paginator.num_pages }}</a></li>
	    {% if enforcements.has_next %}
	    <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ enforcements.next_page_number }}">&raquo;</a></li>
	    {% else %}
	    <li class="disabled"><a href="">&raquo;</a></li>
	    {% endif %}
	  </ul>
	</div>
	{% endif %}
	{% endif %}
      </div>
	{% if enforcements %}
	<table class="table table-hover">
	  <tbody>
	  {% for e in enforcements %}
	    <tr><td><a href=/enforcements/{{ e.id }}>{{ e }}</a></td></tr>
	  {% endfor %}
	  </tbody>
	</table>
	{% elif count == 0 %}
      <p><small>There are no entries.</small></p>
	{% elif query %}
      <p><small>No enforcements matched your search criteria.</small></p>
      {% endif %}    
      </div>
      
      <div class="span9" id="content">
    {% if enforcement %}
	<h4>Enforcement Info</h4>
  <form class="form-horizontal" method="POST" action="/enforcements/save" id="enforcementform">
    {% csrf_token %}
    <input type="hidden" id="enforcementId" name="enforcementId" value="{{enforcement.id}}" />

    <div class="control-group">
      <label class="control-label" for="policy">{% trans "Policy" %}</label>
      <div class="controls">
        <select name="policy" id="policy" rel="tooltip" title="{% trans 'Policy to enforce'%}">
          <option value=''>{% trans 'Select one...' %}</option>
          {% for p in policies %}
          <option value="{{ p.id }}" {% if p.id == enforcement.policy.id %} selected {% endif %}>
          {{ p }}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="group">{% trans "Group" %}</label>
      <div class="controls">
        <select name="group" id="group" rel="tooltip" title="{% trans 'Group to enforce policy on'%}">
          <option value=''>{% trans 'Select one...' %}</option>
          {% for g in groups %}
          <option value="{{ g.id }}" {% if g.id == enforcement.group.id %} selected {% endif %}>
          {{ g }}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="max_age">{% trans "Max. age" %}</label>
      <div class="controls">
        <input type="text" name="max_age" id="max_age" value="{{ enforcement.max_age }}"
        rel="tooltip" title="{% trans 'Policy will be executed every X days' %}"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="fail">{% trans "Fail Action" %}</label>
      <div class="controls">
        <select name="fail" id="fail" rel="tooltip" title="{% trans 'Action if requirements are not met'%}">
          <option value="-1">{% trans 'Inherit from policy' %}</option>
          {% for a in actions %}
          <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == enforcement.fail %} selected {% endif %}>
          {{ a }}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="noresult">{% trans "Noresult Action" %}</label>
      <div class="controls">
        <select name="noresult" id="noresult" rel="tooltip" title="{% trans 'Action if policy does not apply'%}">
          <option value="-1"> {%trans 'Inherit from policy' %}</option>
          {% for a in actions %}
          <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == enforcement.noresult %} selected {% endif %}>
          {{ a }}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>
  
    <hr>
  
    <div class="btn-toolbar" style="margin: 0;">
      <div class="btn-group">
	<button class="btn btn-success" type="submit"><i class="icon-ok icon-white"></i> {%trans "Save" %}</button>
      </div><!-- /btn-group -->
    {% if enforcement.id %}
      <div class="btn-group">
	<a class="btn btn-danger" href="#delModal" data-toggle="modal"><i class="icon-remove icon-white"></i> {%trans "Delete" %}</a>
      </div><!-- /btn-group -->
    {% endif %}
    </div><!-- /btn-toolbar-->
  {% endif %}
  </form>

  <div id="delModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="deleteModalLabel">Are you sure to delete this enforcement?</h3>
    </div>
    <div class="modal-body">
      <h4>Warning</h4>
      <p>Are you sure to delete this enforcement?</p>
    </div>
    <form method="POST" action="/enforcements/{{ enforcement.id }}/delete" id="deleteform">
      {% csrf_token %}
    </form>
    <div class="modal-footer">
      <a class="btn" data-dismiss="modal">Cancel</a>
      <a class="btn btn-danger" onclick="deleteform.submit()" href="#">Delete enforcement</a>
    </div>
  </div>

</div><!--content-->
</div><!--/row-->
</div>
{% endblock %}


