<html>
    <head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
        <title>Cygnet - file</title>
    </head>
    <body>
        <h1>Cygnet - file</h1>
        <h3>{{ file.name }}</h3>

        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Path</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ file.id }}</td>
                    <td>{{ file.directory.path }}/{{ file.name }}</td>
                </tr>
            </tbody>
        </table>
	<a href="./{{file.id}}/edit">Edit</a>
    </body>
</html>
