<html>
    <head>
        <style type="text/css">
            thead>tr>td { font-weight: bold}
            tbody>tr:nth-child(2n + 1) {background-color : lightgray}
        </style>
        <title>Cygnet - file</title>
    </head>
    <body>
        <h1>Cygnet - file</h1>
        <h3>{{ file.name }}</h3>

        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Path</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ file.id }}</td>
		    <td><a href="./{{file.id}}">{{ file.directory.path }}/{{ file.name }}</a></td>
                </tr>
            </tbody>
        </table>
	<a href="./{{file.id}}/edit">Edit</a>
    </body>
</html>
