{% extends "cygapp/base.html" %}

{% block title %}file list{% endblock %}

{% block content %}
    <h1>Cygnet - file list</h1>
    <h3>There are {{ flist.count }} files</h3>

    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <td>ID</td>
                <td>Path</td>
            </tr>
        </thead>
        <tbody>
            {% for file in flist %}
            <tr>
		<td>{{ file.id }}</td>
		<td><a href="files/{{file.id}}">{{ file.directory.path }}/{{ file.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}