{% extends "cygapp/base.html" %}

{% load i18n %}
{% block title %}GROUP MANAGEMENT{% endblock %}

{% block hero %}
<h1>{{ title }}</h1>
{% endblock %}


{% block content %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3" id="line">
	<h4>Group
	  <div class="pull-right">
	    <a class="btn btn-primary btn-mini" href="/groups/add"
	    value="addNew" rel="tooltip" title="add new">
	      <i class="icon-plus-sign icon-white"></i>
	    </a>
	  </div>
	</h4>
	{{grouptree|safe}}
      </div>
      
  <div class="span9" id="content">
    {% if group %}
	<h4>Group Info</h4>
  <form class="form-horizontal" method="POST" action="/groups/save" id="groupform">
    {% csrf_token %}

    <div class="control-group">
    <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input type="hidden" name="groupId" value="{{group.id}}" />
	<input type="text" id="name" name="name" placeholder="Name"
          value="{{ group }}" rel="tooltip" title="enter the name of the
          group">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="parent">Parent Group</label>
      <div class="controls">
        <select name="parent" rel="tooltip" title="select a parental group">
          <option value="" >Select one...</option>
          {% for g in groups %}
            {% if group.id != g.id %}
              <option value={{ g.id }}
              {% if group.parent.id == g.id %}
                selected="selected"
              {% endif %}
              >{{ g }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>

    <hr>
    
    <h4>Assign Devices</h4>
    <div class="row-fluid">

      <select size="5" name="selectionField" id="device_select" multiple="yes" >
        {% for d in devices %}
        <option value="{{ d.id }}">{{ d }}</option>
        {% endfor %}
      </select>

      <div class="btn-group btn-group-vertical">
        <button type="button" onclick="add_member()" class="btn"><i class="icon-forward"></i></button>
        <button type="button" onclick="remove_member()" class="btn"><i class="icon-backward"></i></button>
      </div>

      <select size="5" name="selectionField" id="member_select" multiple="yes" >
        {% for m in members %}
        <option value="{{ m.id }}">{{ m }}</option>
        {% endfor %}
      </select>

    </div>
  </form>

  <hr>
 
  <div class="btn-toolbar" style="margin: 0;">
    <div class="btn-group">
      <a class="btn btn-success" href="#" onclick="save_group()"><i class="icon-ok icon-white"></i> Save</a>
    </div><!-- /btn-group -->
  {% if group.id %}
    <div class="btn-group">
      <a class="btn btn-danger" href="#delModal" data-toggle="modal"><i class="icon-remove icon-white"></i> Delete</a>
    </div><!-- /btn-group -->
  </div><!-- /btn-toolbar-->	    
  {% endif %}
{% endif %}

<div id="delModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="deleteModalLabel">Are you sure to delete this group?</h3>
  </div>
  <div class="modal-body">
    <h4>Warning</h4>
    <p>If you delete this group the devices in it will be assigned to the default group.</p>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Cancel</a>
    <a class="btn btn-danger" href="/groups/{{group.id}}/delete">Delete group</a>
  </div>
</div>

</div><!--content-->
    </div><!--/row-->
  </div>
  <script type="text/javascript">
    function save_group(){
      $('<input />').attr('type', 'hidden').attr('name', 'memberlist').attr('value',
          $("#member_select option").map(function() {
            return this.value;
            }).get().join()).appendTo("#groupform")
      groupform.submit()
    }

    function add_member()
    {
      $("#device_select > option:selected").each(function(index, elem){
            $("#member_select").append("<option value='" + elem.value + "'>" + elem.text + "</option>")
      });
      $("#device_select > option:selected").remove()
    }

    function remove_member()
    {
      $("#member_select > option:selected").each(function(index, elem){
            $("#device_select").append("<option value='" + elem.value + "'>" + elem.text + "</option>")
      });
      $("#member_select > option:selected").remove()
    }

  </script>
{% endblock %}


