{% extends "cygapp/base.html" %}

{% block title %}{% trans "Help" %}{% endblock %}

{% block hero %}
  <h1>Help</h1>
{% endblock %}

{% block content %}
    <div class="span12">
      <div class="page-header">
        <h2>Introduction</h2>
		<img src="{{ STATIC_URL }}img/overview.png" class="img-rounded">
      </div>
      <div class="page-header">
        <h2>Group Management</h2>
      </div>
	  <div class="accordion" id="accordion1">
		<div class="accordion-group">
		  <div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
			  <h4>Common Issues</h4>
			</a>
		  </div>
		  <div id="collapseOne" class="accordion-body collapse">
			<div class="accordion-inner">
			  <p>A group is defined by his name and can have a parental group. A client that has a membership of a group is
			  automatically a member in all parental groups of the group.</p>
			  <img src="{{ STATIC_URL }}img/manual-groups-2.png" class="img-rounded">
			</div>
		  </div>
		</div>
		<div class="accordion-group">
		  <div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
			  <h4>Add / Change a group</h4>
			</a>
		  </div>
		  <div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
			  <p>To create a new group click the add button <a class="btn btn-primary btn-mini" value="addNew" rel="tooltip" title="add new">
			  <i class="icon-plus-sign icon-white"></i></a></p>
			</div>
		  </div>
		</div>
		<div class="accordion-group">
		  <div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTree">
			  <h4>Delete a group</h4>
			</a>
		  </div>
		  <div id="collapseTree" class="accordion-body collapse">
			<div class="accordion-inner">
			  <p>To delete a group, click the remove button <a class="btn btn-danger btn-mini">
			  <i class="icon-remove icon-white"></i> Delete</a>
			</div>
		  </div>
		</div>
	  </div>
	  
      <div class="page-header">   
		<h2>Policy Management</h2>
	  </div>
	  <div class="accordion" id="accordion2">
		<div class="accordion-group">
		  <div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsePolicyOne">
			  <h4>Add / Change a policy</h4>
			</a>
		  </div>
		  <div id="collapsePolicyOne" class="accordion-body collapse">
			<div class="accordion-inner">
			  <h4>Name</h4>
			  <p>Enter here the name of the policy.</p>
			  <hr>
			  <h4>Type</h4>
			  <p>CYGNET provides the following policy types:</p>
			  <dl>
				<dt>File Hash</dt>
				<dd>This policy checks if the hash value of file of a client is equal with the reference value
				in the database. It's possible to select the file from a dropdown list. The applicable reference 
				value will be determined with the operating system oof the client.</dd>
				<dt>Dir Hash</dt>
				<dd>Like File Hash but checks all known files in a directory.</dd>
				<dt>Listening Port TCP/UDP</dt>
				<dd>The policy checks if on the specified port open listening sockets exists. The port range can
				e.g. look like: 21, 22, 80, 443, 1000-1500, 2048, 6000-40000</dd>
			  </dl>
			  <hr>
			  <h4>Argument</h4>
			  <p>Depends of the type.</p>
			  <hr>
			  <h4>Actions</h4>
			  <dl>
				<dt>Fail-Action</dt>
				<dd>Determines how the system acts if client breaks the rules.</dd>
			  </dl>
			  <dl>
				<dt>Noresult-Action</dt>
				<dd>Determines how the system acts if a measurement cannot be executed on the client.</dd>
			  </dl>
			  <dl>
				<dt>Actions</dt>
				<dd>
				  <table class="table table-bordered table-striped">
					<tbody>
					  <tr>
						<td>NONE</td>
						<td>No recommendation</td>
					  </tr>
					  <tr>
						<td>ALLOW</td>
						<td>Grant admission</td>
					  </tr>
					  <tr>
						<td>ISOLATE</td>
						<td>Isolate device, connection to a special network</td>
					  </tr>
					  <tr>
						<td>BLOCK</td>
						<td>Block device, decline connection</td>
					  </tr>
					</tbody>
				  </table>
				</dd>
			  </dl>
			</div>
		  </div>
		</div>
		<div class="accordion-group">
		  <div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsePolicyTwo">
			  <h4>Delete a group</h4>
			</a>
		  </div>
		  <div id="collapsePolicyTwo" class="accordion-body collapse">
			<div class="accordion-inner">
			  <p>To delete a policy, click the remove button <a class="btn btn-danger btn-mini">
			  <i class="icon-remove icon-white"></i> Delete</a>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="page-header">
        <h2>Enforcements</h2>
      </div>
  	  <h4>Add / Change enforcements</h4>
	  <p>Assign groups to policies. Enforcements apply a policy to a group.</p>
	  <p>Specify a time intervall in days to define how many times the policy should be tested. If you want to define a
	  fail or noresult action especially for this enforcement, you can choose one. Otherwise it will be inherited from
	  the policy settings</p>
	  
      <div class="page-header">
        <h2>Device Management</h2>
      </div>
	  <div class="tabbable tabs-left">
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#tab1" data-toggle="tab">Common Issues</a></li>
		  <li><a href="#tab2" data-toggle="tab">Add / Change device</a></li>
  		  <li><a href="#tab3" data-toggle="tab">Remove device</a></li>
  		  <li><a href="#tab4" data-toggle="tab">View device report</a></li>
		</ul>
		<div class="tab-content">
		  <div class="tab-pane active" id="tab1">
			<p>All known clients are listed here in this area. New devices will be added automatically. You can assign clients
			to groups where additional policies are applied. For a better identification of your devices add a description.</p>
		  </div>
		  <div class="tab-pane" id="tab2">
			<p>To keep the overview which policy take effect on which group membership of the client as well as the results of
			the last checks you can review the 'device report'.</p>
		  </div>
		</div>
	  </div>
	  
      <div class="page-header">
        <h2>Packages</h2>
      </div>
	  <dl class="dl-horizontal">
	    <dt><i class="icon-gift"></i> Packages</dt>
	    <dd>
		  <p>This page contains a list of all known software packages and their versions. You can define
		  packages which are blacklisted and should be checked with the blacklisted package policy.</p>
		</dd>
	  </dl>
	  
	  <div class="page-header">
        <h2>Products</h2>
      </div>
	  <dl class="dl-horizontal">
	    <dt><i class="icon-briefcase"></i> Products</dt>
	    <dd>
	      <p>All these products are client operating systems, installed on the scanned devices. This list grows
		  automatically if clients with other operating systems appears.</p>
		  <p>In this area you can add default groups to operating systems. If a client with a specific os connects
		  the first time, the default group of the product will be assigned automatically. Therefore you can configure
		  a default policy for different operating systems.</p>
  		</dd>
	  </dl>
	  
      <div class="page-header">
        <h2>Files</h2>
      </div>
	  <dl class="dl-horizontal">
	    <dt><i class="icon-folder-open"></i> Files</dt>
	    <dd>
	      <p>Here you can find all file references in the database.</p>
	    </dd>
	  </dl>
    </div><!--/span-->
	
<script type="text/javascript">
  $('#myTab a').click(function(e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>
{% endblock %}
