{% extends "cygapp/base.html" %}

{% block title %}OVERVIEW{% endblock %}

{% block hero %}
    <h1>Overview!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    <hr>
      <div class="row-fluid">
	<div class="span8">
          <h2>News</h2>
	  <dl class="dl-horizontal">
	    <dt>April 03 14:14</dt>
	    <dd>First GUI-Layout</dd>
	  </dl>
	  <dl class="dl-horizontal">
	    <dt>March 28 17:00</dt>
	    <dd>Developer team went home...</dd>
	  </dl>
	  <dl class="dl-horizontal">
	    <dt>March 26 13:57</dt>
	    <dd>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	    </dd>
	  </dl>
	  <dl class="dl-horizontal">
	    <dt>March 26 12:43</dt>
	    <dd>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	      <p><a class="btn" href="#">View details &raquo;</a></p>
	    </dd>
	  </dl>
	  <dl class="dl-horizontal">
	    <dt>March 26 12:19</dt>
	    <dd>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	    </dd>
	  </dl>
	</div><!--/span-->
      <div class="span4">
        <h2>Links</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
      </div><!--/span-->
    </div><!--/row-->
{% endblock %}

{% block content %}{% endblock %}