
{% extends "cygapp/base.html" %}

{% load i18n %}
{% block title %}{%trans "Page Management" %}{% endblock %}

{% block hero %}
<h1>{{ title }}</h1>
{% endblock %}


{% block content %}
  <div class="container-fluid">
    <div class="row-fluid">

      
      <div class="span12" id="content">
	<h4>Package Info</h4>

	{% if packages %}
	    <table id="packages">
		
	      {% for p in packages %}
	      <tr><td><a href=/packages/{{ p.id }}>{{ p }}</a></td></tr>
	      {% endfor %}

	    </table>
	    <div class="pagination">
		<span class="step-links">
		    {% if packages.has_previous %}
			<a href="?page={{ packages.previous_page_number }}">previous</a>
		    {% endif %}
	    
		    <span class="current">
			Page {{ packages.number }} of {{ packages.paginator.num_pages }}.
		    </span>
	    
		    {% if packages.has_next %}
			<a href="?page={{ packages.next_page_number }}">next</a>
		    {% endif %}
		</span>
	    </div>
	{% endif %}
	<hr>

      </div><!--content-->
    </div><!--/row-->
  </div>

{% endblock %}


