

{% extends "cygapp/base.html" %}

{% load i18n %}
{% block title %}{%trans "Policy Management" %}{% endblock %}

{% block hero %}
<h1>{{ title }}</h1>
{% endblock %}


{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" style="
      border-right-width:1px;
      border-right-style:solid;
      border-color:black;
      padding-right:1em;
      text-align:justify;">
      <h4>{% trans "Policy" %}</h4>
      <table class="table table-hover">
        <tbody>
          <tr><td><a class="btn btn-primary" href="/policies/add"><i class="icon-plus-sign
                  icon-white"></i> {% trans "Add Policy" %}</a></td></tr>
          {% for p in policies %}
          <tr><td><a href=/policies/{{ p.id }}>{{ p }}</a></td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="span9" id="content">
      {% if policy %}
      <h4>{% trans "Policy Info"%}</h4>
      <form class="form-horizontal" method="POST" action="/policies/save" id="policyform">
        {% csrf_token %}

        <div class="control-group">
          <label class="control-label" for="id">{% trans "Name" %}</label>
          <div class="controls">
            <input type="hidden" name="policyId" value="{{policy.id}}" />
            <input type="text" id="name" name="name" placeholder="{% trans 'Name' %}
              rel="tooltip" title="{% trans 'Policy Name' %}""
            value="{{ policy.name }}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="description">{% trans "Type" %}</label> 
          <div class="controls">   
            <select id="type" name="type" onchange="type_change()" rel="tooltip" title="{% trans 'Policy Type' %}">
              <option value="">{% trans 'Select one...' %}</option>
              {% for t in types %}
              <option value="{{ forloop.counter0 }}"
              {% if policy.type == forloop.counter0 %}
              selected="selected"
              {% endif %}
              >
              {{ t }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="fail">{% trans "Fail-Action" %}</label> 
          <div class="controls">   
            <select id="fail" name="fail" rel="tooltip"
              title="{% trans 'Recommendation when a client does not meet the policy requirement' %}">
              <option value="">{% trans 'Select one...' %}</option>
              {% for a in action %}
              <option value="{{forloop.counter0}}"
              {% if policy.fail == forloop.counter0 %}
              selected="selected"
              {% endif %} 
              >{{ a }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="noresult">{% trans "Noresult-Action" %}</label> 
          <div class="controls">   
            <select id="noresult" name="noresult" rel="tooltip"
              title="{% trans 'Recommendation when the policy does not apply to the client' %}">
              <option value="">{% trans 'Select one...' %}</option>
              {% for a in action %}
              <option value="{{forloop.counter0}}"
              {% if policy.noresult == forloop.counter0 %}
              selected="selected"
              {% endif %} 
              >{{ a }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </form>

      <hr>

      <div class="btn-toolbar" style="margin: 0;">
        <div class="btn-group">
          <a class="btn btn-success" href="#" onclick="policyform.submit()"><i class="icon-ok icon-white"></i> {%trans "Save" %}</a>
        </div><!-- /btn-group -->
        {% if policy.id %}
        <div class="btn-group">
          <a class="btn btn-danger" href="/policies/{{policy.id}}/delete"><i class="icon-remove icon-white"></i> {%trans "Delete" %}</a>
          {% endif %}
        </div><!-- /btn-group -->
      </div><!-- /btn-toolbar-->
      <hr>
      <h4>{% trans "Enforcements" %}
        <a class="btn-small" href="#" rel="tooltip"
          title="{% trans 'The policy is enforced on all group- and subgroup-members' %}"><i
            class="icon-info-sign"></i></a>
      </h4>
      <table border="1" id="etable">
        <thead>
          <tr>
            <td>{% trans 'Group' %}</td>
            <td>{% trans 'Max. age' %}</td>
            <td>{% trans 'Fail-action' %}</td>
            <td>{% trans 'Noresult-action' %}</td>
          </tr>
        </thead>
        <tbody>
          {% if enforcements %}
          {% for e in enforcements %}
          <tr>
            <td><input class="input-small" type="text" name="group" value="{{ e.group.name }}"/></td>
            <td><input class="input-mini" type="text" name="max_age" value="{{ e.max_age }}"/></td>
            <td>
              <select class="input-medium">
                <option value="">{% trans 'Select one...' %}</option>
                {% for a in action %}
                <option value={{ forloop.counter0 }}
                {% if e.fail == forloop.counter0 %}
                selected="selected"
                {% endif %}
                >{{ a }}</option> {% endfor %}
              </select>
            </td>
            <td>
              <select class="input-medium">
                <option value="">{% trans 'Select one...' %}</option>
                {% for a in action %}
                <option value={{ forloop.counter0 }}
                {% if e.noresult == forloop.counter0 %}
                selected="selected"
                {% endif %}
                >{{ a }}</option>
                {% endfor %}
              </select>
            </td>
            <td><a class="btn" href="#">Edt</a></td>
            <td><a class="btn" href="/enforcements/{{ e.id }}/delete">Del</a></td>
          </tr>
        </tbody>
        {% endfor %}
        {% else %}
        <tr><td>{% trans 'There are no enforcements' %}</td></tr>
        {% endif %}
      </table>
      <a class="btn" href="#" onclick="add_enforcement()">Add</a>
      {% endif %}

      <hr>

    </div><!--content-->
  </div><!--/row-->
</div>
<script type="text/javascript">

$(document).ready(function() {
    type_change();
});

function add_enforcement(){
  $("#etable > tbody ").append(enforcement_form());
  }

function enforcement_form(){
  form = '<tr><td><input class="input-small" name="group" /></td>'
  form += '<td><input class="input-mini" name="max_age"/></td>'
  form += '<td><input type="checkbox" checked name="fail"/></td>'
  form += '<td><input type="checkbox" checked name="noresult"/></td>'
  form += '<td><a class="btn btn-success"><i class="icon-ok icon-white"/></a></td>'
  form += '</tr>'
  return form
}
  
function type_change(){
  hide_file_selector()
  hide_dir_selector()
  hide_range_input()

  type = $("select#type option:selected").attr("value")
  type ++; //Because empty defaults to 0

  if (type == 1 || type == 4 || type == 5)
    show_file_selector()
  else if (type == 2)
    show_dir_selector()
  else if (type == 3)
    show_range_input()

}

function show_file_selector(){
  hide_file_selector()
  files = [{{files|safe}}]
  select = '<div class="control-group">'
  select += '<label class="control-label" for="file">{% trans "File" %}</label>' 
  select += '<div class="controls">'
  select += '<select id="file" name="file">'
  select += '<option value="">{% trans 'Select one...' %}</option>'

  for (file in files){
    select += '<option value="' + file + '"'
      {%if policy.file %}
      if (file == {{policy.file.id}}){
      select += ' selected="selected" '
      }
      {%endif%}
    select +='>' + files[file] + '</option>'
  }

  select += '</select>'
  select += '<a class="btn-small" href="#" rel="tooltip" title="{% trans 'File to check' %}"><i class="icon-info-sign"></i></a>'
  select += '</div>'
  select += '</div>'

  $("div.control-group").has("#type").after(select)
}

function show_dir_selector(){
  hide_dir_selector()
  dirs = [{{dirs|safe}}]
  select = '<div class="control-group">'
  select += '<label class="control-label" for="dir">{% trans "Directory" %}</label>' 
  select += '<div class="controls">'
  select += '<select id="dir" name="dir">'
  select += '<option value="">{% trans 'Select one...' %}</option>'

  for (dir in dirs){
    select += '<option value="' + dir + '"'
      {% if policy.dir %}
      if (dir == {{policy.dir.id}}){
      select += ' selected="selected" '
      }
      {%endif%}
    select +='>' + dirs[dir] + '</option>'
  }

  select += '</select>'
  select += '<a class="btn-small" href="#" rel="tooltip" title="{% trans 'Directory to check' %}"><i class="icon-info-sign"></i></a>'
  select += '</div>'
  select += '</div>'

  $("div.control-group").has("#type").after(select)
}

function show_range_input(){
  hide_range_input()
  select = '<div class="control-group">'
  select += '<label class="control-label" for="range">{% trans "Port Range" %}</label>' 
  select += '<div class="controls">'
  select += '<input type="text" id="range" name="range" placeholder="{% trans 'Port Range' %}"'
  select += 'value="{%if not policy.file%}{%if not policy.dir%}{{policy.argument}}{%endif%}{%endif%}">'
  select += '<a class="btn-small" href="#" rel="tooltip" title="'
  select += '{% trans 'Comma separated range(s) of ports, f.e: 5,10-1024,2450-4000' %}"'
  select += '><i class="icon-info-sign"></i></a>'
  select += '</div>'
  select += '</div>'

  $("div.control-group").has("#type").after(select)
}

function hide_file_selector(){
  $("div.control-group").has("#file").remove()
}

function hide_dir_selector(){
  $("div.control-group").has("#dir").remove()
}

function hide_range_input(){
  $("div.control-group").has("#range").remove()
}

</script>
{% endblock %}


