{% extends "cygapp/base.html" %}

{% load i18n %}
{% block title %}{%trans "Statistics" %}{% endblock %}

{% block hero %}
<h1>{{ title }}</h1>
{% endblock %}

{% block content %}
<h4>{% trans "Overview" %}</h4>
<table>
  <tbody>
    <tr>
      <td>Sessions:</td>
      <td>{{ sessions }}</td>
    </tr>
    <tr>
      <td>Devices:</td>
      <td>{{ devices }}</td>
    </tr>
    <tr>
      <td>Results:</td>
      <td>{{ results }}</td>
    </tr>
  </tbody>
</table>

<h4> OS Ranking </h3>
<table>
  <tr><td>OS</td><td>Devices</td></tr>
  {% for os in OSranking %}
  <tr>
    <td>{{ os }}</td>
    <td>{{ os.num }}</td>
  </tr>
  {% endfor %}
</table>


<h4>Recommendation by session </h4>
<table>
  <tr><td>OS</td><td>Devices</td></tr>
  {% for r in rec_count_session %}
  <tr>
    <td>{{ r }}</td>
    <td>{{ r.num }}</td>
  </tr>
  {% endfor %}
</table>
</table>
{% endblock %}
