thead>tr>td { font-weight: bold}

div.msg_success {
  float: none;
  clear; both;
  background-color: RGB(200,255,200);*/
  color: green;
  padding-left: 20px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 16px;
}

div.msg_info {
  float: none;
  clear: both;
  background-color: RGB(200,200,255);
  color: blue;
  padding-left: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 16px;
}

div.msg_warning {
  float: none;
  clear: both;
  background-color: RGB(255,200,150);
  color: RGB(255,150,0);
  padding-left: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 16px;
}

div.msg_error {
  float: none;
  clear: both;
  background-color: RGB(255,200,200);
  color: red;
  padding-left: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 16px;
}


label.error {
  color: red;
}

label.valid {
  margin-bottom: 0px;
}

label.invisiblevalid {
  display: none !important;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
    }
}

.hero-unit {
    padding-top: 6px;
    padding-bottom: 12px;
    padding-left: 18px
}

.hero-unit h1 {
    margin-bottom: 0;
    font-size: 40px;
}

.icon-phone {
  background-position: -96px -168px;
}

[class^="logo-"],
[class*=" logo-"] {
  display: inline-block;
  width: 32px;
  height: 21px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 21px;
  vertical-align: text-top;
  background-image: url("../img/swanicon.png");
  background-position: 32px 21px;
  background-repeat: no-repeat;
}

.logo-swanicon {
  background-position: 0      0;
}

div#line {
  border-right-width:1px;
  border-right-style:solid;
  border-color:black;
  padding-right:1em;
  text-align:justify;
}